<tr class="parent">
    {{ form_start(form, {
        'attr': {
            'action': path('member_orders_product_update', {id: form.vars.value.id}),
            'class': 'ajaxUpdate'
        }
    }) }}
        <td class="form-group">{{ form_widget(form.product) }}</td>
        <td class="form-group">{{ form_widget(form.qty) }}</td>
        <td class="form-group">
            {% if form.vars.value.qty > 1 %}
                {{ form_widget(form.weight, {
                    attr: {
                        'class': 'form-control custom-read-only'
                    }
                }) }}
            {% else %}
                {{ form_widget(form.weight) }}
            {% endif %}
        </td>
        <td class="form-group">
                <input type="text"
                       id="share_product_price"
                       readonly
                       class="form-control custom-read-only"
                       value="{{ form.vars.value.price }}"/>
        </td>
        <td class="form-group">
            <span id="form-status">
                    <button type="submit" class="btn btn-success btn-icon btn-save">
                            <i class="icon-floppy-disk"></i>
                    </button>
            </span>
        </td>
        <td class="form-group">
            <button type="button"
                    data-path="{{ path('member_orders_product_delete', {id: form.vars.value.id}) }}"
                    data-toggle="modal"
                    href="#small_modal"
                    class="btn btn-danger btn-icon btn-delete">
                    <i class="icon-trash"></i>
            </button>
        </td>
    {{ form_end(form) }}
</tr>