<div class="order-products">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr class="heading-style">
                    <th>{{ 'product.product'|trans({}, 'labels') }}</th>
                    <th>{{ 'product.qty'|trans({}, 'labels') }}</th>
                    <th>{{ 'product.weight'|trans({}, 'labels') }} ({{ form.vars.value.building.weightName }})</th>
                    <th>{{ 'product.price'|trans({}, 'labels') }} ($)</th>
                    <th>{{ 'table.save'|trans({}, 'labels') }}</th>
                    <th>{{ 'table.delete'|trans({}, 'labels') }}</th>
                </tr>
                </thead>
                <tbody>
                {% set totalPrice = 0 %}

                {% for key, form in forms %}
                    {% if key > 0 or form.vars.value.id is not null %}
                        {% include 'customer/order/templates/order_product_row.html.twig' with {
                            'form' : form, id: form.vars.value.id
                        } %}
                        {% set totalPrice = totalPrice + form.vars.value.price %}
                    {% endif %}
                {% endfor %}
                <tr id="total">
                    <td>
                        <span class="totalText">
                            {{ 'pos.total'|trans({}, 'labels') }}
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="totalText">
                            $<span id="totalPrice">{{ totalPrice|number_format(2, '.', '') }}</span>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
