<div class="productForm">
    {{ form_start(productForm, {'attr': {
        'action' : path('member_orders_product_add', {role: role, orderId: orderId}), 'class': 'form-horizontal'}
    }) }}
    <div class="panel panel-default">
        <div class="panel-body parent">
            <div class="form-group {{ productForm.product.vars.errors|length ? 'has-error' }}">
                {{ form_label(productForm.product) }}
                <div class="col-md-10 col-sm-9 col-xs-7">
                    {% if not productForm.product.vars.valid %}
                        {{ form_widget(productForm.product, {'attr': {
                            'data-placement': 'top', 'title': productForm.product.vars.errors[0].message,
                            'class': 'form-control tip tip-open'}
                        }) }}
                    {% else %}
                        {{ form_widget(productForm.product)}}
                    {% endif %}
                </div>
            </div>
            <div class="form-group {{ productForm.qty.vars.errors|length ? 'has-error' }}">
                {{ form_label(productForm.qty) }}
                <div class="col-md-10 col-sm-9 col-xs-7">
                    {% if not productForm.qty.vars.valid %}
                        {{ form_widget(productForm.qty, {
                            'value': '1',
                            'type':'number',
                            'attr': {
                                'data-placement': 'top',
                                'title': productForm.qty.vars.errors[0].message,
                                'class': 'form-control tip tip-open'
                            }
                        }) }}
                    {% else %}
                        {{ form_widget(productForm.qty, {'value': '1', 'type':'number'})}}
                    {% endif %}
                </div>
            </div>
            <div class="form-group  {{ productForm.weight.vars.errors|length ? 'has-error' }}">
                {{ form_label(productForm.weight) }}
                <div class="col-md-10 col-sm-9 col-xs-7">
                    {% if not productForm.weight.vars.valid %}
                        {{ form_widget(productForm.weight, {'attr': {
                            'data-placement': 'top',
                            'title': productForm.weight.vars.errors[0].message,
                            'class': 'form-control tip tip-open'}
                        }) }}
                    {% else %}
                        {{ form_widget(productForm.weight)}}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">{{ 'product.price'|trans({}, 'labels') }} ($)</label>
                <div class="col-md-10 col-sm-9 col-xs-7">
                    <input type="text" id="share_product_price" readonly class="form-control custom-read-only">
                </div>
            </div>
            <div class="form-actions text-right">
                <button type="button" class="btn btn-action btn-add-ajax">
                    {{ 'button.add'|trans({}, 'labels') }}
                </button>
            </div>
        </div>
    </div>
    {{ form_end(productForm) }}
</div>

<script type="text/javascript" src="{{ asset('js/pages/member/order.js') }}"></script>