{% extends "home/template.html.twig" %}

{% block title %}FAQ{% endblock %}

{% block top_banner %}
    <div class="banner-thumbnail-wrapper collection-type-index header-beginning" data-content-field="main-image">
        <div class="color-overlay"></div>
        <figure id="thumbnail" class="loading content-fill" style="overflow: hidden;">
            <img data-src="{{ asset('home/images/min/LaNayFerme_120315_Stephenson_014.jpg') }}"
                 data-image-dimensions="2500x1663"
                 data-image-focal-point="0.5,0.5"
                 data-position-mode="standard"
                 data-image-resolution="2500w"
                 data-parent-ratio="4.3"
                 alt="LaNayFerme_032615_stephenson-114.jpg"
                 src="{{ asset('home/images/min/LaNayFerme_120315_Stephenson_014.jpg') }}">
        </figure>
    </div>
{% endblock %}

{% block body %}
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1547096499091" id="page-5c33c6ec03ce6447ac6eeb29">
        <div class="row sqs-row">
            <div class="col sqs-col-3 span-3">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-98ba7eb39dda306ebd68">
                    <div class="sqs-block-content"><h2 style="white-space: pre-wrap;">WHo Is {{ software_name }} for?</h2></div>
                </div>
            </div>
            <div class="col sqs-col-9 span-9">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-0747ba2ff658d30d8b9e">
                    <div class="sqs-block-content">
                        <p style="white-space: pre-wrap;">It was built for the CSA and small- to medium-sized farm. But it’s just as effective for gardeners, ranchers, and growers of all sorts.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-4292be8159319db6242e">
                    <div class="sqs-block-content">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sqs-row">
            <div class="col sqs-col-3 span-3">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-109f6032a4cede938366">
                    <div class="sqs-block-content">
                        <h2 style="white-space: pre-wrap;">Why the need for another software?</h2>
                    </div>
                </div>
            </div>
            <div class="col sqs-col-9 span-9">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-1832d8e67dd4b73c0ff3">
                    <div class="sqs-block-content">
                        <p style="white-space: pre-wrap;">There are many great software platforms out there. But we found them prohibitively expensive for our small farm. And the ones that weren’t often lacked certain features we felt were vital to being successful. But perhaps most importantly, they were built for maintenance, not growth. They didn’t have the power to radically transform how we operated.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-e0a40e7af4343a6b2bd5">
                    <div class="sqs-block-content">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sqs-row">
            <div class="col sqs-col-3 span-3">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-a935310697bb1d7a2527">
                    <div class="sqs-block-content">
                        <h2 style="white-space: pre-wrap;">What makes {{ software_name }} different?</h2>
                    </div>
                </div>
            </div>
            <div class="col sqs-col-9 span-9">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-ca66e894e1a31e6d3a15">
                    <div class="sqs-block-content">
                        <p style="white-space: pre-wrap;">You’ll find we do things differently than the typical CSA. This will make many users uncomfortable. But everything we’ve included in our software is there because it works. </p>
                        <p style="white-space: pre-wrap;">A few things that make us different include:<br>1. Our belief in making the CSA more convenient than the grocery store. (This means the ability to pause/resume shares, delivery to your doorstep, a la carte purchasing, alternative payment methods, and reward programs.)<br>2. We try to give away free the features other software companies charge for. Because we can. And because we believe that the small farm only wins if we all do.<br>3. Integration of your website with our software so that your store always reflects your inventory, as well as the necessary tools to automate the entire customer experience.<br><br>We hope you’ll follow our blog as we share more about the things we’re doing differently to make the small farm more successful.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1547096042366_8563">
                    <div class="sqs-block-content">
                        <hr>
                    </div>
                </div>
                <div class="row sqs-row">
                    <div class="col sqs-col-3 span-3">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1547096042366_9155">
                            <div class="sqs-block-content">
                                <h2 style="white-space: pre-wrap;">Why Is Module One “Pay What You Can”?</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col sqs-col-9 span-9">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1547096042366_11177">
                            <div class="sqs-block-content">
                                <p style="white-space: pre-wrap;">First, being small farmers ourselves, we know how hard it is to make a profit. And most of the software out there today takes such a big cut that profitability is nearly impossible. We believe every community needs and deserves a CSA, so this was one way we could help.</p>
                            </div>
                        </div>
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1547096042366_11177">
                            <div class="sqs-block-content">
                                <p style="white-space: pre-wrap;">Second, free in the software world usually means a bare-bones, ad-supported gateway drug to a paid version. Module One, though, is a robust crop-planning platform that we think is as good as anything on the market. So we wanted to be clear that this was not a “freemium” model.</p>
                            </div>
                        </div>
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1547096042366_11177">
                            <div class="sqs-block-content">
                                <p style="white-space: pre-wrap;">Finally, “Pay What You Can” is an easy way for farmers who do find profitability using {{ software_name }} to help fund future improvements to the software. A special thank you to those of you who do contribute.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1547096042366_8563">
                    <div class="sqs-block-content">
                        <hr>
                    </div>
                </div>
                <div class="row sqs-row">
                    <div class="col sqs-col-3 span-3">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1547096042366_9155">
                            <div class="sqs-block-content">
                                <h2 style="white-space: pre-wrap;">I need more help with the software.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col sqs-col-9 span-9">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1547096042366_11177">
                            <div class="sqs-block-content">
                                <p style="white-space: pre-wrap;">We’ve worked hard to make our software simple to use. But there’s just no way around the fact that {{ software_name }} needs to know some basics about your farm in order for our super smart algorithms to help you run a better operation. We have a series of tutorials on YouTube to help you get started.</p>
                            </div>
                        </div>
                        <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1547096042366_13694">
                            <div class="sqs-block-content" id="yui_3_17_2_1_1547733892313_102">
                                <div class="sqs-block-button-container--left" data-alignment="left" data-button-size="small" id="yui_3_17_2_1_1547733892313_101">
                                    <a href="https://www.youtube.com/channel/UCSLnfmRao-nLHKC1PAtY3jw" class="sqs-block-button-element--small sqs-block-button-element" data-initialized="true" target="_blank">Go To YouTube</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}