{% extends "home/template.html.twig" %}

{% block body %}
<div id="intro" class="index-section" data-url-id="intro">
    <div class="promoted-gallery-wrapper"></div>
    <div class="banner-thumbnail-wrapper has-description header-beginning">
        <div class="color-overlay"></div>
        <figure id="thumbnail" class="content-fill">
            <img class="lazyload" data-src="{{ asset('home/images/min/LaNayFerme-10-2.jpg') }}" alt="LaNayFerme-10.jpg">
        </figure>
        <div class="desc-wrapper" data-content-field="description">
            <p style="white-space: pre-wrap;">software for small farms / CSAs / gardens</p>
            <p style="white-space: pre-wrap;"><strong data-shrink-original-size="86">Small farming can be big.</strong></p>
            <p data-rte-preserve-empty="true" style="white-space: pre-wrap;"></p>
            <p data-rte-preserve-empty="true" style="white-space: pre-wrap;"></p>
        </div>
    </div>
    <div class="index-section-wrapper page-content">
        <div class="content-inner has-content" data-content-field="main-content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page">
                <div class="row sqs-row">
                    <div class="col sqs-col-2 span-2">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                            <div class="sqs-block-content">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col sqs-col-10 span-10">
                        <div class="row sqs-row">
                            <div class="col sqs-col-8 span-8">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                    <div class="sqs-block-content">
                                        <h2 style="text-align: center; white-space: pre-wrap;">A Change Is Growing</h2>
                                        <p style="text-align: center; white-space: pre-wrap;">Black Dirt is a software platform. But we’re more interested in making big business out of small farming.</p>
                                        <p style="text-align: center; white-space: pre-wrap;">We believe that the ideal farm is the small farm. But while being small often means better farming practices, it’s also meant a smaller chance of financial success.</p>
                                        <p style="text-align: center; white-space: pre-wrap;">Black Dirt is providing the education, technology, and partnerships that are allowing CSAs and small- to medium-sized farms to reclaim their place at the top of the food chain.</p>
                                        <p style="text-align: center; white-space: pre-wrap;">We believe your small farm can be a big business.&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col sqs-col-2 span-2">
                                <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                                    <div class="sqs-block-content">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12">
                        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
                            <div class="sqs-block-content"><hr></div>
                        </div>
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                            <div class="sqs-block-content">
                                <h3 style="text-align: center; white-space: pre-wrap;">Something Special is Starting to sprout</h3>
                                <p style="text-align: center; white-space: pre-wrap;">Black Dirt gives big farm tools and technology to small farms, CSAs, and gardeners.</p>
                            </div>
                        </div>
                        <div class="sqs-block gallery-block">
                            <div class="sqs-block-content">
                                <div class="sqs-gallery-container sqs-gallery-block-grid sqs-gallery-aspect-ratio-square
                                sqs-gallery-thumbnails-per-row-8 sqs-gallery-block-show-meta sqs-gallery-block-meta-only-title clear">
                                    <div class="sqs-gallery sqs-gallery-design-grid">
                                        <div class="slide sqs-gallery-design-grid-slide" data-type="image">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fit">
                                                    <img class="thumb-image lazyload"
                                                         data-src="{{ asset('home/images/PlantingBLACKonWHITE.png') }}"
                                                         alt="Crop Management Tools">
                                                </a>
                                                <div class="image-slide-title">Crop Management Tools</div>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide" data-type="image">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fit">
                                                    <img class="thumb-image lazyload"
                                                         data-src="{{ asset('home/images/WheelBlackonWhite.png') }}"
                                                         alt="Real-Time Reports">
                                                </a>
                                                <div class="image-slide-title">Real-Time Reports</div>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide" data-type="image">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fit">
                                                    <img class="thumb-image lazyload"
                                                         data-src="{{ asset('home/images/WarehouseBLACKonWHITE.png') }}"
                                                         alt="Customer Database">
                                                </a>
                                                <div class="image-slide-title">Customer Database</div>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide" data-type="image">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fit">
                                                    <img class="thumb-image lazyload"
                                                         data-src="{{ asset('home/images/DirectionsBLACKonWHITE.png') }}"
                                                         alt="Automated Email System">
                                                </a>
                                                <div class="image-slide-title">Automated Email System</div>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide" data-type="image">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fit">
                                                    <img class="thumb-image lazyload"
                                                         data-src="{{ asset('home/images/PickupTruckBLACKonWHITE.png') }}"
                                                         alt="Smart Packing Reports">
                                                </a>
                                                <div class="image-slide-title">Smart Packing Reports</div>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide" data-type="image">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fit">
                                                    <img class="thumb-image lazyload"
                                                         data-src="{{ asset('home/images/FarmingToolsBLACKonWHITE.png') }}"
                                                         alt="Integration With Your Website">
                                                </a>
                                                <div class="image-slide-title">Integration With Your Website</div>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide" data-type="image">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fit">
                                                    <img class="thumb-image lazyload"
                                                         data-src="{{ asset('home/images/WaterPlantsBLACKonWHITE.png') }}"
                                                         alt="Advanced Marketing Tools">
                                                </a>
                                                <div class="image-slide-title">Advanced Marketing Tools</div>
                                            </div>
                                        </div>
                                        <div class="slide sqs-gallery-design-grid-slide" data-type="image">
                                            <div class="margin-wrapper">
                                                <a class="image-slide-anchor content-fit">
                                                    <img class="thumb-image lazyload"
                                                         data-src="{{ asset('home/images/FarmsBLACKonWHITE.png') }}"
                                                         alt="Partner Opportunities">
                                                </a>
                                                <div class="image-slide-title">Partner Opportunities</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <style type="text/css" id="design-grid-css">
                                    #block-yui_3_17_2_1_1546894733548_5480 .sqs-gallery-block-grid .sqs-gallery-design-grid {
                                        margin-right: -36px;
                                    }
                                    #block-yui_3_17_2_1_1546894733548_5480 .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
                                        margin-right: 36px;
                                        margin-bottom: 36px;
                                    }
                                </style>
                            </div>
                        </div>
                        <div class="sqs-block button-block sqs-block-button">
                            <div class="sqs-block-content">
                                <div class="sqs-block-button-container--center" data-alignment="center" data-button-size="medium">
                                    <a href="{{ path('app_registration') }}"
                                       class="sqs-block-button-element--medium sqs-block-button-element"
                                       data-initialized="true">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="bigsmall" class="index-section" data-url-id="bigsmall">
    <div class="promoted-gallery-wrapper"></div>
    <div class="banner-thumbnail-wrapper has-description">
        <div class="color-overlay"></div>
        <figure id="thumbnail" class="content-fill">
            <img class="lazyload" data-src="{{ asset('home/images/min/JocelynHorne-14-2.jpg') }}" alt="JocelynHorne-14.jpg">
        </figure>
        <div class="desc-wrapper" data-content-field="description">
            <p style="white-space: pre-wrap;"><strong data-shrink-original-size="86">Think Big. </strong></p>
            <p style="white-space: pre-wrap;"><strong data-shrink-original-size="86">Farm Small.</strong></p>
        </div>
    </div>
    <div class="index-section-wrapper page-content">
        <div class="content-inner has-content" data-content-field="main-content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1547111049555">
                <div class="row sqs-row">
                    <div class="col sqs-col-6 span-6">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                            <div class="sqs-block-content">
                                <h2 style="white-space: pre-wrap;">Upgrade Your Farm</h2>
                                <p style="white-space: pre-wrap;">Black Dirt Software was developed over many years on our own small farm. In many ways, it’s a radical departure from the norm. We’ve tried and experimented with a number of processes that go against the CSA grain.</p>
                                <p style="white-space: pre-wrap;">Everything we’ve learned has been built into Black Dirt to help your business operate more efficiently, grow better food, attract and retain more customers, and run a better business.</p>
                                <p style="white-space: pre-wrap;">It’s a different approach, but one we believe in.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="col sqs-col-6 span-6">
                        <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5">
                            <div class="sqs-block-content">
                                <div class="image-block-outer-wrapper layout-caption-below design-layout-inline
                                combination-animation-none individual-animation-none individual-text-animation-none">
                                    <div class="intrinsic" style="max-width:2500.0px;">
                                        <div style="padding-bottom: 58.72%; overflow: hidden;" class="image-block-wrapper has-aspect-ratio">
                                            <img class="thumb-image lazyload"
                                                 data-src="{{ asset('home/images/min/ScreensGray.png') }}"
                                                 alt="ScreensGray.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12">
                        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
                            <div class="sqs-block-content"><hr></div>
                        </div>
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                            <div class="sqs-block-content">
                                <h1 style="text-align: center; white-space: pre-wrap;">Small Farms. Big Tools.</h1>
                                <p style="text-align: center; white-space: pre-wrap;">Black Dirt takes big farm technology and gives it to small farms.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row sqs-row">
                    <div class="col sqs-col-4 span-4">
                        <div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44">
                            <div class="sqs-block-content">
                                <h2 id="module-1-crops">MODULE 1: CROPS</h2>
                                <p><strong>Crop Management</strong></p>
                                <blockquote>
                                    <p>Plant and Garden Planning<br/>
                                        Harvest Tracking<br/>
                                        Tray Starts<br/>
                                        Seed Inventory</p>
                                </blockquote>
                                <p><strong>Operations Schedule</strong></p>
                                <blockquote>
                                    <p>Prepopulated/Customizable</p>
                                </blockquote>
                                <p><strong>Reports</strong></p>
                                <blockquote>
                                    <p>Production Report<br/>
                                        Real-Time Garden Report<br/>
                                        Garden History<br/>
                                        Now Growing Filters<br/>
                                        Crop Rotation Wizard<br/>
                                        Seed Usage<br/>
                                        What We Grew</p>
                                </blockquote>
                                <p><strong>Unlimited Users</strong></p>
                                <h1 id="free">Pay What You Can</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col sqs-col-4 span-4">
                        <div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44">
                            <div class="sqs-block-content">
                                <h2 id="module-2-customer">MODULE 2: CUSTOMER</h2>
                                <p><strong>Customer Acquisition</strong></p>
                                <blockquote>
                                    <p>New CSA Signups<br/>
                                        New Vendor Signup<br/>
                                        Farmer's Market Log<br/>
                                        Lead Tracking</p>
                                </blockquote>
                                <p><strong>CSA Management</strong></p>
                                <blockquote>
                                    <p>Customer Profile<br/>
                                        Feedback Tools<br/>
                                        Share Customization<br/>
                                        Stop/Resume Shares<br/>
                                        Location Management<br/>
                                        Database Import</p>
                                </blockquote>
                                <p><strong>Vendor Management</strong></p>
                                <blockquote>
                                    <p>Submit a PO<br/>Weekly Fresh Sheets</p>
                                </blockquote>
                                <p><strong>Product Management</strong></p>
                                <blockquote>
                                    <p>Create/Edit Shares<br/>
                                        Add/Remove Plants</p>
                                </blockquote>
                                <p><strong>Fulfillment
                                    </strong></p>
                                <blockquote>
                                    <p>Harvest Advisor<br/>
                                        Packing Advisor</p>
                                </blockquote>
                                <p><strong>Reports
                                    </strong></p>
                                <blockquote>
                                    <p>Purchase Statistics<br/>
                                        Share Day Report</p>
                                </blockquote>
                                <h1 id="-70-month">Coming Soon</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col sqs-col-4 span-4">
                        <div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44">
                            <div class="sqs-block-content">
                                <h2 id="module-3-company">MODULE 3: COMPANY</h2>
                                <p><strong>Website Integration</strong></p>
                                <blockquote>
                                    <p>Front End Design<br/>
                                        Black Dirt Integration<br/>
                                        Online Ordering<br/>
                                        Newsletter Signups<br/>
                                        Lead Capture<br/>
                                        Website Analytics</p>
                                </blockquote>
                                <p><strong>Marketing Materials</strong></p>
                                <blockquote>
                                    <p>Social Content<br/>
                                        Monthly Social Content<br/>
                                        Blog Content Calendar<br/>
                                        Newsletters<br/>
                                        Holiday Emails<br/>
                                        Affiliate Marketing<br/>
                                        Product Info Cards<br/>
                                        Rewards Program</p>
                                </blockquote>
                                <p><strong>Automation</strong></p>
                                <blockquote>
                                    <p>Automated Emails</p>
                                </blockquote>
                                <p><strong>Partner Opportunities</strong></p>
                                <blockquote>
                                    <p>Farmer’s Market Tools</p>
                                </blockquote>
                                <p><strong>Others To Be Announced</strong></p>
                                <h1 id="-150-month">Coming Late 2019</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                            <div class="sqs-block-content">
                                <p style="text-align: center; white-space: pre-wrap;">Ready to get your hands dirty? Learn more from our FAQs.</p>
                            </div>
                        </div>
                        <div class="sqs-block button-block sqs-block-button" data-block-type="53">
                            <div class="sqs-block-content">
                                <div class="sqs-block-button-container--center" data-alignment="center" data-button-size="medium">
                                    <a href="{{ path('home_faq') }}"
                                       class="sqs-block-button-element--medium sqs-block-button-element"
                                       data-initialized="true">FAQs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="grown-by" class="index-section">
    <div class="promoted-gallery-wrapper"></div>
    <div class="banner-thumbnail-wrapper has-description">
        <div class="color-overlay"></div>
        <figure id="thumbnail" class="content-fill" style="overflow: hidden;">
            <img class="lazyload" data-src="{{ asset('home/images/min/JocelynHorne-25+2.jpg') }}" alt="JocelynHorne-25 2.jpg">
        </figure>
        <div class="desc-wrapper" data-content-field="description">
            <p style="white-space: pre-wrap;"><strong data-shrink-original-size="86">Grown By The Sweat Of Another Farmer’s Brow</strong>
            </p>
        </div>
    </div>
    <div class="index-section-wrapper page-content">
        <div class="content-inner has-content" data-content-field="main-content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1547111100727">
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                            <div class="sqs-block-content">
                                <h2 style="text-align: center; white-space: pre-wrap;">Black Dirt Was Born in A Barn</h2>
                            </div>
                        </div>
                        <div class="row sqs-row">
                            <div class="col sqs-col-2 span-2">
                                <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                                    <div class="sqs-block-content">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col sqs-col-8 span-8">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                    <div class="sqs-block-content">
                                        <p style="text-align: center; white-space: pre-wrap;">Black Dirt is a homegrown innovation—born in a barn, grown from the ground up on a real farm, nurtured in the dirt, and created by the sweat of another farmer’s brow. We know it works for farmers because it was built by one.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col sqs-col-2 span-2">
                                <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                                    <div class="sqs-block-content">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <div class="sqs-block button-block sqs-block-button" data-block-type="53">
                            <div class="sqs-block-content">
                                <div class="sqs-block-button-container--center" data-alignment="center" data-button-size="small">
                                    <a href="{{ path('home_mission') }}"
                                       class="sqs-block-button-element--small sqs-block-button-element"
                                       data-initialized="true">Our Mission</a>
                                </div>
                            </div>
                        </div>
                        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
                            <div class="sqs-block-content"><hr></div>
                        </div>
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                            <div class="sqs-block-content">
                                <h2 style="text-align: center; white-space: pre-wrap;">A New Approach to Farming</h2>
                            </div>
                        </div>
                        <div class="sqs-block sqs-block-summary-v2"
                             data-block-type="55"
                             data-block-json='{"hSize":null,"floatDir":null,"collectionId":"5c342111032be40b1b86f615","design":"autocolumns","headerText":"Featured","textSize":"medium","pageSize":4,"imageAspectRatio":"1.5","columnWidth":310,"gutter":28,"listImageSize":30,"listImageAlignment":"left","slidesPerRow":3,"textAlignment":"left","showTitle":true,"showThumbnail":true,"showExcerpt":true,"showReadMoreLink":false,"showPrice":true,"productQuickViewEnabled":false,"showPastOrUpcomingEvents":"upcoming","metadataPosition":"below-content","primaryMetadata":"none","secondaryMetadata":"none","filter":{},"autoCrop":true,"lightbox":true,"mixedContent":true,"blockId":"d909dd36a16166b113e4"}'>
                            <div class="sqs-block-content">
                                <div class="summary-block-wrapper summary-block-collection-type-gallery
                                 summary-block-setting-text-size-medium summary-block-setting-text-align-left
                                  summary-block-setting-design-autocolumns summary-block-setting-design-list-thumbnail-left
                                  summary-block-setting-metadata-position-below-content summary-block-setting-primary-metadata-none
                                   summary-block-setting-secondary-metadata-none summary-block-setting-show-thumbnail
                                   summary-block-setting-show-title summary-block-setting-show-price summary-block-setting-show-excerpt
                                   sqs-gallery-design-autocolumns">
                                    <div class="summary-item-list-container sqs-gallery-container">
                                        <header class="summary-block-header">
                                            <div class="summary-heading">
                                                <span class="summary-header-text">Featured</span>
                                            </div>
                                            <div class="summary-carousel-pager sqs-gallery-controls">
                                                <span class="summary-carousel-pager-next next"></span>
                                                <span class="summary-carousel-pager-prev previous"></span>
                                            </div>
                                        </header>
                                        <div class="summary-item-list sqs-gallery sqs-gallery-design-autocolumns">
                                            <div class="summary-item summary-item-record-type-image sqs-gallery-design-autocolumns-slide
                                             summary-item-has-thumbnail summary-item-has-excerpt summary-item-has-author" data-type="image">
                                                <div class="summary-thumbnail-outer-container">
                                                    <div class="summary-thumbnail-container sqs-gallery-image-container"
                                                         data-description="&lt;p&gt;Black Dirt was built by a farmer,
                                                         who also happens to have a proven-track record in tech.
                                                         Every feature and new innovation is the product of his own experience on the farm.&lt;/p&gt;">
                                                        <div class="summary-thumbnail img-wrapper">
                                                            <img class="summary-thumbnail-image"
                                                                 data-src="{{ asset('home/images/min/JocelynHorne-9+copy.jpg') }}"
                                                                 alt="Innovation">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="summary-content sqs-gallery-meta-container">
                                                    <div class="summary-metadata-container summary-metadata-container--above-title">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                    <div class="summary-title">
                                                        <p class="summary-title-link">Innovation</p>
                                                    </div>
                                                    <div class="summary-metadata-container summary-metadata-container--below-title">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                    <div class="summary-excerpt">
                                                        <p>Black Dirt was built by a farmer, who also happens to have a proven-track record in tech.
                                                            Every feature and new innovation is the product of his own experience on the farm.</p>
                                                    </div>
                                                    <div class="summary-metadata-container summary-metadata-container--below-content">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="summary-item summary-item-record-type-image sqs-gallery-design-autocolumns-slide
                                            summary-item-has-thumbnail summary-item-has-excerpt summary-item-has-author" data-type="image">
                                                <div class="summary-thumbnail-outer-container">
                                                    <div class="summary-thumbnail-container sqs-gallery-image-container"
                                                         data-description="&lt;p&gt;Everything we learn, we share.
                                                         We’re trying new things and telling you what we discover.
                                                         We do it because we believe that the only way for the CSA and small farm to win is if we all do.&lt;/p&gt;">
                                                        <div class="summary-thumbnail img-wrapper">
                                                            <img class="summary-thumbnail-image lazyload"
                                                                 data-src="{{ asset('home/images/min/JocelynHorne-20.jpg') }}"
                                                                 alt="Education">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="summary-content sqs-gallery-meta-container">
                                                    <div class="summary-metadata-container summary-metadata-container--above-title">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                    <div class="summary-title">
                                                        <p class="summary-title-link">Education</p>
                                                    </div>
                                                    <div class="summary-metadata-container summary-metadata-container--below-title">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                    <div class="summary-excerpt">
                                                        <p>Everything we learn, we share. We’re trying new things and telling you what we discover.
                                                            We do it because we believe that the only way for the CSA and small farm to win is if we all do.
                                                        </p>
                                                    </div>
                                                    <div class="summary-metadata-container summary-metadata-container--below-content">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="summary-item summary-item-record-type-image sqs-gallery-design-autocolumns-slide
                                             summary-item-has-thumbnail summary-item-has-excerpt summary-item-has-author" data-type="image">
                                                <div class="summary-thumbnail-outer-container">
                                                    <div class="summary-thumbnail-container sqs-gallery-image-container"
                                                         data-description="&lt;p&gt;Small farming is big—tens of thousands of farms big.
                                                         Together, we’re forging new alliances, influencing policy, and allowing small farms to play big.&lt;/p&gt;">
                                                        <div class="summary-thumbnail img-wrapper">
                                                            <img class="summary-thumbnail-image lazyload"
                                                                 data-src="{{ asset('home/images/min/LaNayFerme Oct31_0003.jpg') }}"
                                                                 alt="Partnership">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="summary-content sqs-gallery-meta-container">
                                                    <div class="summary-metadata-container summary-metadata-container--above-title">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                    <div class="summary-title">
                                                        <p class="summary-title-link">Partnership</p>
                                                    </div>
                                                    <div class="summary-metadata-container summary-metadata-container--below-title">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                    <div class="summary-excerpt">
                                                        <p>Small farming is big—tens of thousands of farms big.
                                                            Together, we’re forging new alliances, influencing policy, and allowing small farms to play big.</p>
                                                    </div>
                                                    <div class="summary-metadata-container summary-metadata-container--below-content">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="summary-item summary-item-record-type-image sqs-gallery-design-autocolumns-slide
                                             summary-item-has-thumbnail summary-item-has-excerpt summary-item-has-author" data-type="image">
                                                <div class="summary-thumbnail-outer-container">
                                                    <div class="summary-thumbnail-container sqs-gallery-image-container"
                                                         data-description="&lt;p&gt;We’re as passionate about growing business as we are about growing great food.
                                                         Everything we do is driven by our belief in the value and role of small farms in the world.&lt;/p&gt;">
                                                        <div class="summary-thumbnail img-wrapper">
                                                            <img class="summary-thumbnail-image lazyload"
                                                                 data-src="{{ asset('home/images/min/JocelynHorne-4.jpg') }}"
                                                                 alt="Growth">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="summary-content sqs-gallery-meta-container">
                                                    <div class="summary-metadata-container summary-metadata-container--above-title">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                    <div class="summary-title">
                                                        <p class="summary-title-link">Growth</p>
                                                    </div>
                                                    <div class="summary-metadata-container summary-metadata-container--below-title">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                    <div class="summary-excerpt">
                                                        <p>We’re as passionate about growing business as we are about growing great food.
                                                            Everything we do is driven by our belief in the value and role of small farms in the world.</p>
                                                    </div>
                                                    <div class="summary-metadata-container summary-metadata-container--below-content">
                                                        <div class="summary-metadata summary-metadata--primary"></div>
                                                        <div class="summary-metadata summary-metadata--secondary"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
                            <div class="sqs-block-content"><hr></div>
                        </div>
                        <div class="sqs-block button-block sqs-block-button sqs-col-6 span-6 float float-right" data-block-type="53">
                            <div class="sqs-block-content">
                                <div class="sqs-block-button-container--center" data-alignment="center" data-button-size="small">
                                    <a href="{{ path('home_blog') }}"
                                       class="sqs-block-button-element--small sqs-block-button-element"
                                       data-initialized="true">Blog</a>
                                </div>
                            </div>
                        </div>
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                            <div class="sqs-block-content">
                                <h3 style="white-space: pre-wrap;">Start growing NOW with Insightful articles from our blog:</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sacred" class="index-section" data-url-id="sacred" data-collection-id="5c342726562fa770781ec281" data-edit-main-image="Banner">
    <div class="promoted-gallery-wrapper"></div>
    <div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
        <div class="color-overlay"></div>
        <figure id="thumbnail" class="content-fill" style="overflow: hidden;">
            <img class="lazyload" data-src="{{ asset('home/images/min/JocelynHorne-5.jpg') }}">
        </figure>
        <div class="desc-wrapper" data-content-field="description">
            <p style="white-space: pre-wrap;"><strong data-shrink-original-size="86">Like the home and church, the small farm is sacred.</strong></p>
            <p style="white-space: pre-wrap;"><a href="{{ path('home_mission') }}"><strong>Our Mission</strong></a></p>
        </div>
    </div>
    <div class="index-section-wrapper page-content">
        <div class="content-inner has-content" data-content-field="main-content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1546925666228">
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12">
                        <div class="row sqs-row">
                            <div class="col sqs-col-2 span-2">
                                <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" >
                                    <div class="sqs-block-content">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col sqs-col-8 span-8">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2">
                                    <div class="sqs-block-content">
                                        <blockquote>
                                            <p style="text-align: center; white-space: pre-wrap;">“On a farm filled with tools, Black Dirt is perhaps our most valuable. It has helped us better manage our crops, retain our customers, and run a more profitable farm. It’s changed everything.”</p>
                                            <p style="text-align: center; white-space: pre-wrap;"><strong>—Clinton / La Nay Ferme / Utah</strong>&nbsp;</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="col sqs-col-2 span-2">
                                <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                                    <div class="sqs-block-content">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}