{% extends 'base.html.twig' %}

{% block body %}
    <form name="pricing" method="post" action="{{ path('product_pricing_send') }}" class="jquery-validation">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pricing_filter" class="col-md-2 filter-label">{{ 'product.filter'|trans({}, 'labels') }}:</label>
                        <div class="col-md-10">
                            <select class="select" id="pricing_filter" name="pricing[category]" data-action="{{ path('products_pricing')}}">
                                <option value="all">{{ 'label.all'|trans({}, 'labels') }}</option>
                                <option value="1">{{ 'customer.customer'|trans({}, 'labels') }}</option>
                                <option value="2">{{ 'product.vendor_eatery'|trans({}, 'labels') }}</option>
                                <option value="3">{{ 'product.vendor_market'|trans({}, 'labels') }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 filter-label">
                    <span class="">{{ 'crops.records_found'|trans({}, 'labels') }}:
                        <span id="content_counter">{{ counter }}</span>
                    </span>
                </div>

                <div id="send_email" {{ not app.request.cookies.get('pricingFilter') or app.request.cookies.get('pricingFilter') == 'all' ? 'class="hidden"' }}>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="pricing_email" class="col-md-2 filter-label">Email:</label>
                            <div class="col-md-10">
                                <input type="email" id="pricing_email" name="pricing[email]" class="form-control text-lowercase" required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success">
                            {{ 'button.send'|trans({}, 'labels') }} <i class="icon-arrow-right14 position-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="panel panel-default vertical">
        <div class="table-vertical">
            <table class="table">
                <thead>
                <tr class="heading-style">
                    <th>{{ 'product.product'|trans({}, 'labels') }}</th>
                    <th>{{ 'product.description'|trans({}, 'labels') }}</th>
                    <th>{{ 'product.price'|trans({}, 'labels') }}</th>
                    <th>{{ 'table.save'|trans({}, 'labels') }}</th>
                </tr>
                </thead>
                <tbody id="products_list">
                    {{ include('customer/product/pricing_list.html.twig') }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    <script>
        var $sendEmail = $('#send_email'),
            $filter = $('#pricing_filter');

        $filter.on('change', function () {
            var url = $(this).attr('data-action'),
                filter = $(this).val(),
                counter = $('#content_counter');

            if (filter !== 'all') url += '/' + filter;

            // Save pricing filter by to a cookie
            setCookie('pricingFilter', $(this).val(), 7);

            // Hide send products list by email feature, if filter have 'All' categories selected
            $(this).val() === 'all' ? $sendEmail.addClass('hidden') : $sendEmail.removeClass('hidden');

            $.ajax({
                url: url,
                type: "POST",
                success: function (response) {
                    response = jQuery.parseJSON(response);

                    $('#products_list').empty().append($(response.template));
                    counter.empty().append(response.counter);
                },
                error: function (response) {
                    counter.empty();
                    counter.append(0);
                }
            });
        });

        var currentFilter = '{{ app.request.get('category') }}';

        // If cookie have saved member search filter, enable it
        if (getCookie('pricingFilter').length > 0) {
            $filter.val(getCookie('pricingFilter'));
            if ($filter.val() !== currentFilter) {
                $filter.trigger('change');
            }
        }

        // Hide send products list by email feature, if filter have 'All' categories selected
        if ($filter.val() === 'all') $sendEmail.addClass('hidden');

        $('input[name="pricing[price]"]').on('keyup', function () {
            var $this = $(this),
                value = parseFloat($this.val());

            if (value && value > 0) {
                var start = this.selectionStart,
                    end = this.selectionEnd;

                this.value = value.toFixed(2);
                this.setSelectionRange(start, end);
            }
        });
    </script>
    <style>
        .filter-label {
            padding-top: 10px;
        }
    </style>
{% endblock %}