<table class="table">
    <thead>
    <tr role="row" class="heading-style">
        <th>{{ 'product.name'|trans({}, 'labels') }}</th>
        <th>{{ 'product.product'|trans({}, 'labels') }}</th>
        <th>{{ 'product.category'|trans({}, 'labels') }}</th>
        <th>{{ 'product.description'|trans({}, 'labels') }}</th>
        <th>{{ 'product.price'|trans({}, 'labels') }}</th>
        <th>{{ 'product.delivery_price'|trans({}, 'labels') }}</th>
        <th>{{ 'product.sku'|trans({}, 'labels') }}</th>
        <th>{{ 'table.save'|trans({}, 'labels') }}</th>
    </tr>
    </thead>
    <tbody>
        {% for key, form in forms %}
            <tr role="row" class="odd {% if key is not divisible by (2) %} row-style {% endif %}">
                {{ form_start(form, {'attr': {'name': 'product', 'action': path('product_update', {id: form.vars.value.id}), 'class': 'ajaxUpdate'} }) }}
                    <td><a class="website-link" href="{{ path('customer_product_edit', {'id': form.vars.value.id}) }}">{{ form.vars.value.name }}</a></td>
                    <td>{% if form.vars.value.plant is not null %}{{ form.vars.value.plant.fullName }}{% endif %}</td>
                    <td>{{ form.vars.value.category }}</td>
                    <td>{{ form_widget(form.description) }}</td>
                    <td>{{ form_widget(form.price) }}</td>
                    <td>{{ form_widget(form.deliveryPrice) }}</td>
                    <td>{{ form_widget(form.sku) }}</td>
                    <td class="form-group">
                        <span id="form-status">
                            <button type="submit" class="btn btn-success btn-icon btn-save">
                                <i class="icon-floppy-disk"></i>
                            </button>
                        </span>
                    </td>
                    <td class="hidden">
                        {% if form.vars.value.plant is not null %}
                            {{ form_widget(form.plant, {'attr': {'class': 'hidden custom-read-only'}}) }}
                        {% endif %}
                        {{ form_widget(form.category, {'attr': {'class': 'hidden custom-read-only'}}) }}
                        {{ form_widget(form.isPos, {'attr': {'class': 'hidden custom-read-only'}}) }}
                    </td>
                {{ form_end(form) }}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if withoutNav is not defined  %}
    <div class="navigation text-right">
        {{ knp_pagination_render(products, 'parts/pagination.html.twig') }}
    </div>
{% endif %}
