{% extends 'base.html.twig' %}

{% block body %}
    {% if transaction %}
    <div class="panel panel-default vertical">
        <div class="table-responsive">
            <table class="table table-vertical" style="font-size: 14px;">
                <thead class="thead-vertival">
                    <tr class="tr-vertical gray">
                        <th style="text-align: center">{{ 'account.payment.wallet'|trans({}, 'labels') }}</th>
                        <th>{{ 'account.payment.amount'|trans({}, 'labels') }}</th>
                        <th>{{ 'account.payment.amount_btc'|trans({}, 'labels') }}</th>
                        <th>{{ 'account.payment.expired_time'|trans({}, 'labels') }}</th>
                        <th>{{ 'account.payment.status'|trans({}, 'labels') }}</th>
                        <th>{{ 'account.payment.action'|trans({}, 'labels') }}</th>
                    </tr>
                </thead>
                <tbody class="tbody-vertical">
                <tr  class="tr-vertical">
                    <td style="text-align: center;" class="td-vertical">
                        <img class="image-wallet" src="{{ qrcode_url('bitcoin:' ~ transaction.wallet ~ '?amount=' ~ (transaction.amount | satoshitobtc))  }}" /><br/>
                        <textarea class="wallet" style="text-align: center;">{{ transaction.wallet }}</textarea>
                    </td>
                    <td class="td-vertical">${{ amount }}</td>
                    <td class="td-vertical">{{ transaction.amount | satoshitobtc }}</td>
                    <td class="td-vertical"><spam id="time"></spam></td>
                    <td class="td-vertical">{{ 'account.payment.pending'|trans({}, 'labels') }}</td>
                    <td class="td-vertical">
                        <a href="{{ path('payment_cancel_transaction', {'id': transaction.id }) }}" class="btn btn-md btn-danger">{{ 'account.payment.cancel'|trans({}, 'labels') }}</a>
                       <!-- <a href="{{ path('payment_test_confirm', {'client_id' : app.user.team.client.id, 'code' : transaction.paymentCode, 'amount' : transaction.amount | satoshitobtc }) }}" class="btn btn-md btn-success">Confirm</a> -->
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        {% endif %}
{% endblock body %}

{% block scripts %}
    <link href="{{ asset('css/table_vertical.css') }}" rel="stylesheet" type="text/css">

    {% if transaction %}
        <script src="{{ asset('js/plugins/countdown/jquery.plugin.js') }}"></script>
        <script src="{{ asset('js/plugins/countdown/jquery.countdown.js') }}"></script>
        <script src="{{ asset('js/plugins/copyToClipboard.js') }}"></script>
        <script>
            // Show time in countdown
            var time = new Date({{ transaction.createdAt | date() | json_encode() | raw }});
            var expiredTime = {{ transaction_expired | json_encode() | raw }};
            var austTime = new Date(time.getTime() + ((121 + expiredTime) * 60000));

            $('#time').countdown({until: austTime, format: 'HMS', compact: true});

            // Reload page after expired time of transaction
            var timeLeft = Math.round((austTime.getTime() - new Date().getTime()));

            setTimeout(function(){
                window.location.reload(1);
            }, timeLeft);

            // Copy to clipboard function
            var copyTextareaBtn = document.querySelector('.wallet');
            copyTextareaBtn.addEventListener('click', function (event) {
                msg = {{ 'account.payment.copied'|trans({}, 'labels') | json_encode | raw }};
                element = $('.wallet');
                copyToClipboard(element, msg)
            });
        </script>
    {% endif %}

    <style>
        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {
            .td-vertical:nth-of-type(1):before { content: ""; }
            .td-vertical:nth-of-type(2):before { content: "{{ 'account.payment.amount'|trans({}, 'labels') }}"; }
            .td-vertical:nth-of-type(3):before { content: "{{ 'account.payment.amount_btc'|trans({}, 'labels') }}"; }
            .td-vertical:nth-of-type(4):before { content: "{{ 'account.payment.expired_time'|trans({}, 'labels') }}"; }
            .td-vertical:nth-of-type(5):before { content: "{{ 'account.payment.status'|trans({}, 'labels') }}"; }
            .td-vertical:nth-of-type(6):before { content: "{{ 'account.payment.action'|trans({}, 'labels') }}"; }
        }
    </style>
{% endblock %}