{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-head">
                <h6><i class="icon-user"></i> {{ 'account.profile.profile'|trans({}, 'labels') }}</h6>
                <div class="page-guide">
                    <p>{{ 'page_tip.profile'|trans({}, 'messages') }}</p>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group {% if form.building.name.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.building_name'|trans({}, 'labels') }}</label>
                        {% if not form.building.name.vars.valid %}
                            {{ form_widget(form.building.name, {'attr': {
                                'data-placement': 'top',
                                'title': form.building.name.vars.errors[0].message,
                                'class': 'form-control tip tip-open'}
                            }) }}
                        {% else %}
                            {{ form_widget(form.building.name)}}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.building.email.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.email'|trans({}, 'labels') }}</label>
                        {% if not form.building.email.vars.valid %}
                            {{ form_widget(form.building.email, {'attr': {
                                'data-placement': 'top',
                                'title': form.building.email.vars.errors[0].message,
                                'class': 'form-control tip tip-open',
                                'placeholder': 'account.settings.email'|trans({}, 'labels')}
                            }) }}
                        {% else %}
                            {{ form_widget(form.building.email, {'attr': {
                                'class': 'form-control',
                                'placeholder':
                                'account.settings.email'|trans({}, 'labels')}
                            })}}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.dateFormat.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.date_format' | trans({}, 'labels') }}</label>
                        {% if not form.dateFormat.vars.valid %}
                            {{ form_widget(form.dateFormat, {'attr': {
                                'data-placement': 'top',
                                'title': form.dateFormat.vars.errors[0].message,
                                'class': 'select tip tip-open'}
                            }) }}
                        {% else %}
                            {{ form_widget(form.dateFormat)}}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.locale.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.language'|trans({}, 'labels') }}</label>
                        {% if not form.locale.vars.valid %}
                            {{ form_widget(form.locale, {'attr': {
                                'data-placement': 'top',
                                'title': form.locale.vars.errors[0].message,
                                'class': 'select tip tip-open'}
                            }) }}
                        {% else %}
                            {{ form_widget(form.locale)}}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.building.address.country.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.country'|trans({}, 'labels') }}</label>
                        {% if not form.building.address.country.vars.valid %}
                            {{ form_widget(form.building.address.country, {'attr': {
                                'data-placement': 'top',
                                'title': form.building.address.country.vars.errors[0].message,
                                'class': 'select tip tip-open',
                                'placeholder': 'account.settings.country'|trans({}, 'labels')}
                            }) }}
                        {% else %}
                            {{ form_widget(form.building.address.country) }}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.building.timezone.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.timezone'|trans({}, 'labels') }}</label>
                        {% if not form.building.timezone.vars.valid %}
                            {{ form_widget(form.building.timezone, {'attr': {
                                'data-placement': 'top',
                                'title': form.building.timezone.vars.errors[0].message,
                                'class': 'select tip tip-open'}
                            }) }}
                        {% else %}
                            {{ form_widget(form.building.timezone)}}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.building.address.street.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'owner.address.street'|trans({}, 'labels') }}</label>
                        {% if not form.building.address.street.vars.valid %}
                            {{ form_widget(form.building.street, {'attr': {
                                'data-placement': 'top',
                                'title': form.building.address.street.vars.errors[0].message,
                                'class': 'select tip tip-open',
                                'placeholder': 'owner.address.street'|trans({}, 'labels')}
                            }) }}
                        {% else %}
                            {{ form_widget(form.building.address.street) }}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.building.address.postalCode.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.postal_code'|trans({}, 'labels') }}</label>
                        {% if not form.building.address.postalCode.vars.valid %}
                            {{ form_widget(form.building.address.postalCode, {'attr': {
                                'data-placement': 'top',
                                'title': form.building.address.postalCode.vars.errors[0].message,
                                'class': 'form-control tip tip-open'}
                            }) }}
                        {% else %}
                            {{ form_widget(form.building.address.postalCode, { 'attr': {'class': 'form-control'} })}}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.building.address.region.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.region'|trans({}, 'labels') }}</label>
                        {% if not form.building.address.region.vars.valid %}
                            {{ form_widget(form.building.address.region, {'attr': {
                                'data-placement': 'top',
                                'title': form.building.address.region.vars.errors[0].message,
                                'class': 'select tip tip-open',
                                'placeholder': 'account.settings.region_placeholder'|trans({}, 'labels')}
                            }) }}
                        {% else %}
                            {{ form_widget(form.building.address.region) }}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.building.address.city.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.city'|trans({}, 'labels') }}</label>
                        {% if not form.building.address.city.vars.valid %}
                            {{ form_widget(form.building.address.city, {'attr' : {
                                'data-placement': 'top',
                                'title': form.building.address.city.vars.errors[0].message,
                                'class': 'select tip tip-open',
                                'placeholder': 'account.settings.city_placeholder'|trans({}, 'labels')}
                            }) }}
                        {% else %}
                            {{ form_widget(form.building.address.city) }}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.building.currency.vars.errors|length %} has-error {% endif %}">
                        <label>{{ 'account.settings.currency'|trans({}, 'labels') }}</label>
                        {% if not form.building.currency.vars.valid %}
                            {{ form_widget(form.building.currency, {'attr': {
                                'data-placement': 'top',
                                'title': form.building.currency.vars.errors[0].message,
                                'class': 'select tip tip-open'}
                            }) }}
                        {% else %}
                            {{ form_widget(form.building.currency)}}
                        {% endif %}
                    </div>
                </div>

                <div class="form-actions text-right col-md-12">
                    <button type="submit" class="btn btn-success">{{ 'button.save'|trans({}, 'labels') }}</button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock body %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFudPQ3bgPztQLPBngp9B425BBl9q5Duo&libraries=places"></script>
    <script src="{{ asset('js/plugins/googleMapsSearch.js') }}?v=3"></script>
    <script>
        let $holder =  $('form[name="profile"]'),
            $streetField = $('#profile_building_address_street'),
            $countyField = $('#profile_building_address_country'),
            countryCode = $countyField.val() ? $countyField.val() : null;

        initAutocomplete($streetField, $holder, countryCode);

        // Update currency on country change
        $countyField.on('change', function () {
            let countryCurrency = $('#profile_building_currency option[data-country-code="' + $(this).val() + '"]').val(),
                $currencyField =  $('#profile_building_currency');

            $.ajax({
                url: '{{ path('profile_edit') }}',
                type: "post",
                data: $holder.serialize(),
                success: function (response) {
                    let timezoneFieldId = '#profile_building_timezone',
                        $timezoneField = $(timezoneFieldId);

                    $timezoneField.html($(response).find(timezoneFieldId).find('option')).val('').selectpicker('refresh');

                    $currencyField.val(countryCurrency);
                    $currencyField.selectpicker('refresh');
                },
                error: function (response) {
                    console.log(response);
                }
            });
        });
    </script>
{% endblock %}