{{ form_start(form, {'attr': {'class': 'form-horizontal jquery-validation'} }) }}
    <div class="form-group {% if form.firstname.vars.errors|length %} has-error {% endif %}">
        {{ form_label(form.firstname) }}
        <div class="col-md-10 col-sm-9 col-xs-7">
            {{ form_widget(form.firstname)}}
            {% if not form.firstname.vars.valid %}
                <label id="{{ form.firstname.vars.id }}-error" class="validation-error-label" for="{{ form.firstname.vars.id }}">
                    {{ form.firstname.vars.errors[0].message }}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="form-group {% if form.lastname.vars.errors|length %} has-error {% endif %}">
        {{ form_label(form.lastname) }}
        <div class="col-md-10 col-sm-9 col-xs-7">
            {{ form_widget(form.lastname)}}
            {% if not form.lastname.vars.valid %}
                <label id="{{ form.lastname.vars.id }}-error" class="validation-error-label" for="{{ form.lastname.vars.id }}">
                    {{ form.lastname.vars.errors[0].message }}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="form-group {% if form.phone.vars.errors|length %} has-error {% endif %}">
        {{ form_label(form.phone) }}
        <div class="col-md-10 col-sm-9 col-xs-7">
            {{ form_widget(form.phone)}}
            {% if not form.phone.vars.valid %}
                <label id="{{ form.phone.vars.id }}-error" class="validation-error-label" for="{{ form.phone.vars.id }}">
                    {{ form.phone.vars.errors[0].message }}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="form-group {% if form.email.vars.errors|length %} has-error {% endif %}">
        {{ form_label(form.email) }}
        <div class="col-md-10 col-sm-9 col-xs-7">
            {{ form_widget(form.email)}}
            {% if not form.email.vars.valid %}
                <label id="{{ form.email.vars.id }}-error" class="validation-error-label" for="{{ form.email.vars.id }}">
                    {{ form.email.vars.errors[0].message }}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="form-group {% if form.apartment.number.vars.errors|length %} has-error {% endif %}">
        {{ form_label(form.apartment.number) }}
        <div class="col-md-10 col-sm-9 col-xs-7">
            {{ form_widget(form.apartment.number)}}
            {% if not form.apartment.number.vars.valid %}
                <label id="{{ form.apartment.number.vars.id }}-error" class="validation-error-label" for="{{ form.apartment.number.vars.id }}">
                    {{ form.apartment.number.vars.errors[0].message }}
                </label>
            {% endif %}
        </div>
    </div>

    <div class="form-group {% if form.notes.vars.errors|length %} has-error {% endif %}">
        {{ form_label(form.notes) }}
        <div class="col-md-10 col-sm-9 col-xs-7">
            {{ form_widget(form.notes)}}
            {% if not form.notes.vars.valid %}
                <label id="{{ form.notes.vars.id }}-error" class="validation-error-label" for="{{ form.notes.vars.id }}">
                    {{ form.notes.vars.errors[0].message }}
                </label>
            {% endif %}
        </div>
    </div>

    <div class="form-actions text-right">
        <button type="submit" class="btn btn-icon btn-success" id="btn-submit">
            {{ 'button.save'|trans({}, 'labels') }}
        </button>

        {% if form.vars.value.id is not null %}
            <button type="button" data-toggle="modal" href="#delete-modal"
                    data-delete-path="{{ path('member_delete', {id: form.vars.value.id }) }}"
                    class="btn btn-danger btn-icon">
                <i class="icon-trash"></i>
            </button>
        {% endif %}
    </div>
{{ form_end(form) }}

{{ include ("modal/modal-with-message.html.twig", {'id': 'delete-modal'}) }}

<script>
    $('#member_email').on('mouseleave', function () {
        let $email = $(this);

        if ($email.val().length > 5) {
            let id = '{{ form.vars.value.id }}';

            $.ajax({
                url: '{{ path('member_check_email') }}',
                type: "POST",
                data: { id: id, email: $email.val(), client: '{{ app.user.team.client.id }}'},
                success: function (response) {
                    let link = jQuery.parseJSON(response).link;
                    if (link !== undefined) {

                        $email.tooltip('destroy');

                        $email.tooltip({trigger: 'manual', placement: 'top', html: true, title: link})
                            .attr('data-original-title', link)
                            .tooltip('fixTitle')
                            .tooltip('show');

                        $email.parent().addClass('has-error');
                    } else {
                        $email.tooltip({trigger: 'manual', placement: 'top', html: true, title: link}).trigger('destroy');
                        $email.parent().removeClass('has-error');
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            });
        }
    });
</script>