<table class="table">
    <thead>
    <tr role="row" class="heading-style">
        <th>Member</th>
        <th>Email</th>
        <th>Share</th>
        <th>Status</th>
        <th>Renewal date</th>
        <th>Share day</th>
        <th>Share location</th>
    </tr>
    </thead>
    <tbody>
    {% if shares | length > 0 %}
        {%  for key, share in shares %}
            <tr role="row" class="odd {% if key is not divisible by (2) %} row-style {% endif %}">
                {% if shares[key - 1] is defined and shares[key - 1].member.id == share.member.id %}
                    <td></td>
                    <td></td>
                {% else %}
                    <td><a href="{{ path('member_edit', {'id': share.member.id}) }}">{{ share.member.firstname }} {{ share.member.lastname }}</a></td>
                    <td>{{ share.member.email }}</td>
                {% endif %}
                <td>{{ share.share.name }}</td>
                <td>{{ share.statusName }}</td>
                <td>{{ share.renewalDate | date(app.user.getTwigFormatDate()) | upper }}</td>
                <td>{% if share.pickUpDay is not null %} {{ share.getShareDay | upper }} {% else %} - {% endif %} </td>
                <td>{% if share.location is not null %} {{ share.location }} {% else %} - {% endif %}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
