<table class="table">
    <thead>
    <tr role="row" class="heading-style">
        <th>{{ 'customer.search.customer'|trans({}, 'labels') }}</th>
        <th>{{ 'customer.add.email'|trans({}, 'labels') }}</th>
    </tr>
    </thead>
    <tbody>
    {% if customers|length > 0 %}
        {% for key, customer in customers %}
            <tr>
                <td>
                    <a class="website-link" href="{{ path('member_edit', {'id': customer.id}) }}">
                        {{ customer.fullname }}
                    </a>
                </td>
                <td>{{ customer.email }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

{% if withoutNav is not defined  %}
    <div class="navigation text-right">
        {{ knp_pagination_render(customers, 'parts/pagination.html.twig') }}
    </div>
{% endif %}
