{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" id="email-info">
                <div class="panel-heading heading-style">
                    <h5 class="panel-title">Details</h5>
                </div>
                <div class="panel-body">
                    <div class="well" id="details">
                        <p><span class="text-semibold">Type:</span> {{ email.automatedEmail ? 'Auto' : 'Manual' }}</p>
                        <p><span class="text-semibold">Subject:</span> {{ email.subject }} </p>
                        <p><span class="text-semibold">Reply to:</span></p>
                        <p><span class="text-semibold">Reply name:</span></p>
                        <p><span class="text-semibold">Created at:</span> {{ email.createdAt|date(app.user.getTwigFormatDate()) }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" id="stats-info">
                <div class="panel-heading heading-style">
                    <h5 class="panel-title">Stats</h5>
                </div>
                <div class="panel-body">
                    <div class="well row" id="stats">
                        <div class="row stat">
                            <span class="text-semibold  col-md-2">Recipients:</span> <span style="padding-left: 10px;">{{ recipients.total }}</span>
                        </div>
                        <div class="row stat">
                            <span class="text-semibold col-md-2">Delivered: </span>
                            <div class="col-md-8">
                                <div class="progress block-inner">
                                    {% set delPercent = ((recipients.qty.delivered * 100) / recipients.total)|round %}

                                    <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="{{ recipients.qty.delivered }}" aria-valuemin="0" aria-valuemax="{{ recipients.total }}" style="width: {% if recipients.qty.delivered > 0 %}{{ delPercent }}{% else %}10{% endif %}%;">
                                        {{ delPercent }}%
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                {{ recipients.qty.delivered }} / {{ recipients.total }}
                            </div>
                        </div>
                        <div class="row stat">
                            <span class="text-semibold col-md-2">Opened: </span>
                            <div class="col-md-8">
                                <div class="progress block-inner">
                                    {% set openedPercent = ((recipients.qty.opened * 100) / recipients.total)|round %}

                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ recipients.qty.opened }}" aria-valuemin="0" aria-valuemax="{{ recipients.total }}" style="width: {% if recipients.qty.opened > 0 %}{{ openedPercent }}{% else %}10{% endif %}%;">
                                        {{ openedPercent }}%
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                {{ recipients.qty.opened }} / {{ recipients.total }}
                            </div>
                        </div>
                        <div class="row stat">
                            <span class="text-semibold col-md-2">Clicked: </span>
                            <div class="col-md-8">
                                <div class="progress block-inner">
                                    {% set clickedPercent = ((recipients.qty.clicked * 100) / recipients.total)|round %}

                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ recipients.qty.clicked }}" aria-valuemin="0" aria-valuemax="{{ recipients.total }}" style="width: {% if recipients.qty.clicked > 0 %}{{ clickedPercent }}{% else %}10{% endif %}%;">
                                        {{ clickedPercent }}%
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                {{ recipients.qty.clicked }} / {{ recipients.total }}
                            </div>
                        </div>
                        <div class="row stat">
                            <span class="text-semibold col-md-2">Failed: </span>
                            <div class="col-md-8">
                                <div class="progress block-inner">
                                    {% set failedPercent = ((recipients.qty.failed * 100) / recipients.total)|round %}

                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ recipients.qty.failed }}" aria-valuemin="0" aria-valuemax="{{ recipients.total }}" style="width: {% if recipients.qty.failed > 0 %}{{ failedPercent }}{% else %}10{% endif %}%;">
                                        {{ failedPercent }}%
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                {{ recipients.qty.failed }} / {{ recipients.total }}
                            </div>
                        </div>
                    </div>
                    <!-- Statistics for emails with feedbacks-->
                    {% if recipients.feedback is defined %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Feedback</h5>
                            </div>
                            <div class="panel-body">
                                <div class="chart" id="feedback_chart"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Preview -->
    <div class="block col-md-12">
        <div class="tabbable page-tabs">
            <ul class="nav nav-tabs left-tabs">
                <li  class="active"><a href="#recipients" data-toggle="tab"><span class="icon-users"></span> Recipient(s)</a></li>
                <li><a href="#email_text" data-toggle="tab"><span class="icon-envelop"></span> Email text</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="recipients">
                <div class="panel panel-default">
                    <table class="table">
                        <thead>
                        <tr class="heading-style">
                            <td>Name</td>
                            <td>Delivered</td>
                            <td>Opened</td>
                            <td>Clicked</td>
                            <td>Failed</td>
                            <td>Bounced</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, recipient in recipients.list %}
                            <tr {% if key is not divisible by (2) %} class="row-style" {% endif %}>
                                <td>
                                    {% if recipient.client is not null %}
                                        <a href="{{ path('master_client_edit', {'id': recipient.client.id }) }}">{{ recipient.client.name }}</a>
                                    {% else %}
                                        <p>{{ recipient.email }}</p>
                                    {% endif %}
                                </td>
                                <td>{% if recipient.isDelivered %}<span class="label bg-blue">Delivered</span>{% endif %}</td>
                                <td>{% if recipient.isOpened %}<span class="label label-info">Opened</span>{% endif %}</td>
                                <td>{% if recipient.isClicked %}<span class="label label-success">Clicked</span>{% endif %}</td>
                                <td>{% if not recipient.isDelivered %}<span class="label label-danger">Failed</span>{% endif %}</td>
                                <td>{% if recipient.isBounced %}<span class="label label-warning">Bounced</span>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="email_text">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ email.text|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /second tab -->
{% endblock body %}

{% block scripts %}
    <style>.stat {margin-bottom: 10px !important;}</style>
    <script>$('#details, #stats').equalizeHeights();</script>
{% endblock %}
