{% for key, building in buildings %}
    <tr {{ key is not divisible by (2) ? "class='row-style'" }}>
        <td>{{ building.name }}</td>
        <td>{{ building.email }}</td>
        <td>
            <label class="checkbox-info" for="email_recipients_{{ key }}">
                <input type="checkbox" data-name="{{ building.name }}" id="email_recipients_{{ key }}"
                       name="email[recipients][]" value="{{ building.id }}" class="styled"
                       {{ recipients is defined and (building.id in recipients) ? "checked" }}>
            </label>
        </td>
    </tr>
{% endfor %}
