{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-7">
                    <form name="search" id="customer_search">
                        <label for="search_text">{{ 'customer.search.search'|trans({}, 'labels') }}:</label>
                        <input type="text"
                               class="form-control text-uppercase"
                               data-action="{{ path('customer_list')}}"
                               data-block="content_list"
                               value="{{ app.request.get('searchText') }}"
                               data-counter="content_counter"
                               name="search"
                               id="search_text"
                               placeholder="{{ 'customer.search.search_by_placeholder'|trans({}, 'labels') }}"
                               autocomplete="off">
                    </form>
                </div>
                <div class="col-sm-3 vertical-table-text">
                    <p class="vertical-text">{{ 'customer.search.records_found'|trans({}, 'labels') }}:
                        <span id="content_counter">{{ customers.getTotalItemCount }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="datatable-ajax-source">
            <div class="table-responsive" id="content_list">
                {{ include ("customer/forms/table.html.twig") }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#search_text, #search_filter').on('keyup change', function ()
        {
            var $this = $(this),
                $searchBy = $('#search_filter'),
                $searchField = $('#search_text');

            if ($this.attr('id') === 'search_text') {
                searchField = $this;
                searchBy = $searchBy;
            } else {
                var searchField = $searchField,
                    searchBy = $this;
            }

            // Save customers filter by to a cookie
            setCookie('customersFilterBy', searchBy.val(), 7);

            var url = searchField.attr('data-action'),
                block = $('#' + searchField.attr('data-block')),
                counter = $('#' + searchField.attr('data-counter'));

            url += '?searchBy=' + (searchBy.length ? searchBy.val() : 'all');

            if (searchField.length && searchField.val().length > 0) url += '&search=' + searchField.val();

            $.ajax({
                url: url,
                type: "POST",
                success: function (response) {
                    console.log(response)
                    block.html(response.template);
                    counter.html(response.counter);
                },
                error: function (response) {
                    counter.html(0);
                }
            });
        });
        var currentFilterValue = '{{ app.request.get('searchBy') }}',
            cookieFilterValue = getCookie('customersFilterBy');

        if (cookieFilterValue !== 'undefined') {
            if (cookieFilterValue.length > 0 && currentFilterValue !== cookieFilterValue) {
                var $filter = $('#search_filter');
                $filter.val(cookieFilterValue);
                $filter.trigger('change');
            }
        } else {
            setCookie('customersFilterBy', 'all');
        }
    </script>
{% endblock %}
