{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group form-group-material">
                        <label for="search_filter">{{ 'customer.search.filter'|trans({}, 'labels') }}:</label>
                        <select class="select" id="search_filter" data-width="100%">
                            <option value="all" {{ app.request.cookies.get('customersFilterBy') == 'all' ? "selected" }}>
                                {{ 'label.all'|trans({}, 'labels') }}
                            </option>
                            <option value="contacts" {{ app.request.cookies.get('customersFilterBy') == 'contacts' ? "selected" }}>
                                {{ 'customer.search.contacts'|trans({}, 'labels') }}
                            </option>
                            <option value="leads" {{ app.request.cookies.get('customersFilterBy') == 'leads' ? "selected" }}>
                                {{ 'customer.search.leads'|trans({}, 'labels') }}
                            </option>
                            <option value="members" {{ app.request.cookies.get('customersFilterBy') == 'members' ? "selected" }}>
                                {{ 'customer.search.members'|trans({}, 'labels') }}
                            </option>
                            <option value="patrons" {{ app.request.cookies.get('customersFilterBy') == 'patrons' ? "selected" }}>
                                {{ 'customer.search.patrons'|trans({}, 'labels') }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-7">
                    <label for="search_text">{{ 'customer.search.search'|trans({}, 'labels') }}:</label>
                    <input type="text"
                           class="form-control text-uppercase"
                           data-action="{{ path('customer_list')}}"
                           data-block="content_list"
                           value="{{ app.request.get('searchText') }}"
                           data-counter="content_counter"
                           name="search_text"
                           id="search_text"
                           placeholder="{{ 'customer.search.search_by_placeholder'|trans({}, 'labels') }}"
                           autocomplete="off">
                </div>
                <div class="col-sm-3 vertical-table-text">
                    <p class="vertical-text">{{ 'customer.search.records_found'|trans({}, 'labels') }}:
                        <span id="content_counter">{{ members.getTotalItemCount }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="datatable-ajax-source">
            <div class="table-responsive" id="content_list">
                {{ include ("customer/forms/table.html.twig") }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#search_text, #search_filter').on('keyup change', function ()
        {
            var $this = $(this),
                $searchBy = $('#search_filter'),
                $searchField = $('#search_text');

            if ($this.attr('id') === 'search_text') {
                searchField = $this;
                searchBy = $searchBy;
            } else {
                var searchField = $searchField,
                    searchBy = $this;
            }

            // Save customers filter by to a cookie
            setCookie('customersFilterBy', searchBy.val(), 7);

            var url = searchField.attr('data-action'),
                block = $('#' + searchField.attr('data-block')),
                counter = $('#' + searchField.attr('data-counter'));

            url += '?searchBy=' + (searchBy.length ? searchBy.val() : 'all');

            if (searchField.length && searchField.val().length > 0) url += '&search=' + searchField.val();

            $.ajax({
                url: url,
                type: "POST",
                success: function (response) {
                    block.html(response.template);
                    counter.html(response.counter);
                },
                error: function (response) {
                    counter.html(0);
                }
            });
        });

        $('.summary-search').on('click', function ()
        {
            var $this = $(this),
                url = $('#summary-search-path').data('path'),
                block = $('#content_list'),
                counter = $('#content_counter');

            $.ajax({
                url: url,
                type: "POST",
                data: { searchItem: $this.data('item'), searchStatus: $this.data('status') },
                success: function (response) {
                    console.log(response);
                    var data = jQuery.parseJSON(response);

                    block.html(data.template);
                    counter.html(data.counter);
                },
                error: function (response) {
                    console.log(response);
                    counter.html(0);
                }
            });
        });

        var currentFilterValue = '{{ app.request.get('searchBy') }}',
            cookieFilterValue = getCookie('customersFilterBy');

        if (cookieFilterValue !== 'undefined') {
            if (cookieFilterValue.length > 0 && currentFilterValue !== cookieFilterValue) {
                var $filter = $('#search_filter');
                $filter.val(cookieFilterValue);
                $filter.trigger('change');
            }
        } else {
            setCookie('customersFilterBy', 'all');
        }
    </script>
{% endblock %}
