{% extends "front-layout.html.twig" %}

{% block styles %}
    <!-- Countdown files -->
    <script src="{{ asset('js/plugins/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('js/plugins/ui/moment/moment_timezone.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/countdown/jquery.countdown.min.js') }}"></script>
    <!-- /End of countdown files -->
{% endblock %}

{% block body %}
    {% set domain = app.request.schemeAndHttpHost ~ app.request.baseUrl %}
    <!-- Page tabs -->
    <div class="tabbable page-tabs membership-panel tab-spaceless">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#profile" data-toggle="tab">
                    <span class="icon-user"></span> {{ 'membership.profile'|trans({}, 'labels') }}
                </a>
            </li>
        </ul>
        {{ form_start(form, {'attr': {
            'class': 'form-horizontal jquery-validation',
            'id': 'profileForm',
            'action': path('membership_profile_save', {'token': app.request.get('token')})}
        }) }}
        <div class="tab-content">
            <!-- Profile -->
            <div class="tab-pane active fade in" id="profile">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading theme-style">
                                <h6 class="panel-title"> {{ 'membership.profile'|trans({}, 'labels') }}</h6>
                            </div>
                            <div class="panel-body form-body">
                                <div class="form-group {% if form.firstname.vars.errors | length > 0 %} has-error {% endif %}">
                                    <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ form.firstname.vars.id }}">
                                        {{ form.firstname.vars.label|trans({}, 'labels') }}
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-7">
                                        {{ form_widget(form.firstname) }}
                                        {% if not form.firstname.vars.valid %}
                                            <label id="{{ form.firstname.vars.id }}-error" class="validation-error-label" for="{{ form.firstname.vars.id }}">
                                                {{ form.firstname.vars.errors[0].message }}
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group {% if form.lastname.vars.errors | length > 0 %} has-error {% endif %}">
                                    <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ form.lastname.vars.id }}">
                                        {{ form.lastname.vars.label|trans({}, 'labels') }}
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-7">
                                        {{ form_widget(form.lastname) }}
                                        {% if not form.lastname.vars.valid %}
                                            <label id="{{ form.lastname.vars.id }}-error" class="validation-error-label" for="{{ form.lastname.vars.id }}">
                                                {{ form.lastname.vars.errors[0].message }}
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group {% if form.phone.vars.errors | length > 0 %} has-error {% endif %}">
                                    <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ form.phone.vars.id }}">
                                        {{ form.phone.vars.label|trans({}, 'labels') }}
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-7">
                                        {{ form_widget(form.phone) }}
                                        {% if not form.phone.vars.valid %}
                                            <label id="{{ form.phone.vars.id }}-error" class="validation-error-label" for="{{ form.phone.vars.id }}">
                                                {{ form.phone.vars.errors[0].message }}
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group {% if form.email.vars.errors | length > 0 %} has-error {% endif %}">
                                    <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ form.email.vars.id }}">
                                        {{ form.email.vars.label|trans({}, 'labels') }}
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-7">
                                        {{ form_widget(form.email) }}
                                        {% if not form.email.vars.valid %}
                                            <label id="{{ form.email.vars.id }}-error" class="validation-error-label" for="{{ form.email.vars.id }}">
                                                {{ form.email.vars.errors[0].message }}
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">{{ 'membership.automated_emails'|trans({}, 'labels') }}</label>
                                        <div class="col-md-12">
                                            {% for key, notification in form.notifications %}
                                                {% set notifyName = notification.vars.value.getNotifyName() %}
                                                {% if (status == 'owner' and notifyName != 'delivery_day')
                                                    or ((status == 'contact' or status == 'lead') and notifyName == 'delivery_day')
                                                %}
                                                    <div class="checkbox">
                                                        {{ form_widget(notification) }}
                                                        <label for="member_notifications_{{ key }}_isActive" class="control-label">
                                                            {{ ('membership.notifies.' ~ notifyName)|trans({}, 'labels') }}
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Start of addresses section -->
                                <h6><i class="icon-home2"></i> {{ 'owner.address.address'|trans({}, 'labels') }}</h6><hr>
                                <div class="collection address-collection"
                                     data-collection="address"
                                     data-prototype="
                                        {% apply escape('html') %}
                                            {{ include('parts/collection-theme.twig', { 'form': form.addresses.vars.prototype }) }}
                                        {% endapply %}">
                                    {% for key, address in form.addresses %}
                                        <div class="collection_item address-item">
                                            <div class="form-group {% if address.type.vars.errors | length > 0 %} has-error {% endif %}">
                                                <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ address.type.vars.id }}">
                                                    {{ address.type.vars.label|trans({}, 'labels') }}
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-7">
                                                    {{ form_widget(address.type)}}
                                                    {% if not address.type.vars.valid %}
                                                        <label id="{{ address.type.vars.id }}-error"
                                                               class="validation-error-label"
                                                               for="{{ address.type.vars.id }}">
                                                            {{ address.type.vars.errors[0].message }}
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group {% if address.street.vars.errors | length > 0 %} has-error {% endif %}">
                                                <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ address.street.vars.id }}">
                                                    {{ address.street.vars.label|trans({}, 'labels') }}
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-7">
                                                    {{ form_widget(address.street)}}
                                                    {% if not address.street.vars.valid %}
                                                        <label id="{{ address.street.vars.id }}-error"
                                                               class="validation-error-label"
                                                               for="{{ address.street.vars.id }}">
                                                            {{ address.street.vars.errors[0].message }}
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group {% if address.apartment.vars.errors | length > 0 %} has-error {% endif %}">
                                                <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ address.apartment.vars.id }}">
                                                    {{ address.apartment.vars.label|trans({}, 'labels') }}
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-7">
                                                    {{ form_widget(address.apartment)}}
                                                    {% if not address.apartment.vars.valid %}
                                                        <label id="{{ address.apartment.vars.id }}-error"
                                                               class="validation-error-label"
                                                               for="{{ address.apartment.vars.id }}">
                                                            {{ address.apartment.vars.errors[0].message }}
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group {% if address.postalCode.vars.errors | length > 0 %} has-error {% endif %}">
                                                <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ address.postalCode.vars.id }}">
                                                    {{ address.postalCode.vars.label|trans({}, 'labels') }}
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-7">
                                                    {{ form_widget(address.postalCode)}}
                                                    {% if not address.postalCode.vars.valid %}
                                                        <label id="{{ address.postalCode.vars.id }}-error"
                                                               class="validation-error-label"
                                                               for="{{ address.postalCode.vars.id }}">
                                                            {{ address.postalCode.vars.errors[0].message }}
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group {% if address.region.vars.errors | length > 0 %} has-error {% endif %}">
                                                <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ address.region.vars.id }}">
                                                    {{ address.region.vars.label|trans({}, 'labels') }}
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-7">
                                                    {{ form_widget(address.region)}}
                                                    {% if not address.region.vars.valid %}
                                                        <label id="{{ address.region.vars.id }}-error"
                                                               class="validation-error-label"
                                                               for="{{ address.region.vars.id }}">
                                                            {{ address.region.vars.errors[0].message }}
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group {% if address.city.vars.errors | length > 0 %} has-error {% endif %}">
                                                <label class="col-md-3 col-sm-3 col-xs-5 control-label" for="{{ address.city.vars.id }}">
                                                    {{ address.city.vars.label|trans({}, 'labels') }}
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-7">
                                                    {{ form_widget(address.city)}}
                                                    {% if not address.city.vars.valid %}
                                                        <label id="{{ address.city.vars.id }}-error"
                                                               class="validation-error-label"
                                                               for="{{ address.city.vars.id }}">
                                                            {{ address.city.vars.errors[0].message }}
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <button type="button"
                                                    class="btn btn-danger btn-icon delete-collection-modal"
                                                    id="address-{{ address.vars.value.id }}" href="#">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </div>
                                    {% endfor %}

                                    <button type="button"
                                            class="btn btn-action add_collection_link add-address"
                                            id="add-address"
                                            {% if form.addresses|length == 2 or (form.addresses|length == 1 and form.addresses[0].type.vars.value == 2) %}
                                                style="display: none;"
                                            {% endif %}>
                                        {{ 'button.add'|trans({}, 'labels') }}
                                    </button>
                                </div>
                                <!--/End of addresses section -->

                                {{ include ("modal/modal-with-message.html.twig", {'id': 'address-modal'}) }}

                                <div class="row form-actions text-right">
                                    <div class="col-xs-12">
                                        <span class="save_status" style="margin-right: 10px;"
                                               data-no-changes="{{ 'membership.no_changes'|trans({}, 'labels') }}"
                                               data-changes-made="{{ 'membership.changes_made'|trans({}, 'labels') }}"
                                               data-autosaved="{{ 'membership.changes_saved'|trans({}, 'labels') }}">
                                            {{ 'membership.no_changes'|trans({}, 'labels') }}
                                        </span>
                                        {% if status == 'lead' or status == 'contact' %}
                                            <button type="button"
                                                    data-toggle="modal"
                                                    href="#delete-modal"
                                                    data-delete-path="{{ path('membership_delete', {id: form.vars.value.id }) }}"
                                                    class="btn btn-danger btn-icon btn-delete">
                                                <i class="icon-trash"></i>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Delete modal for member delete button -->
                            {{ include ("modal/modal-with-message.html.twig", {'id': 'delete-modal'}) }}
                        </div>
                    </div>
                    {% do form.notifications.setRendered %}
                </div>
            </div>
            <!-- /profile -->
        </div>
    </div>
    <!-- /page tabs -->

    {{ include ("modal/send-email-modal.html.twig") }}
    {{ include ("modal/info-modal.html.twig") }}
{% endblock body %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/collections.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pages/member/addresses.js') }}"></script>

    <!-- Google maps files -->
    <script src="{{ asset('js/plugins/googleMapsSearch.js') }}"></script>
    <!-- /End of google maps files -->

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript" src="{{ asset('js/pages/membership/membership.js') }}?v=4"></script>
{% endblock %}