<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Receipt</title>
</head>
<body>
<div style="border: 1px solid black;background-color: white;">
    <div style="display: block;">
        <div style="border-color: #4CAF50; border-bottom: 1px solid black; color: black;margin-bottom: 20px;padding-top: 10px;padding-bottom: 10px;">
            <h2 style="font-weight: bold; text-align: center;">{{ 'pos.receipt'|trans({}, 'labels') }}</h2>
        </div>
    </div>

    <div style="padding: 0 40px 40px 40px;">
        <div style="display: block; box-sizing: border-box; clear: both;">
            <div style="width: 50%; float: left; position: relative; min-height: 1px; padding-left: 10px; padding-right: 10px; box-sizing: border-box; display: block;">
                <span style="font-weight: bold;">{{ order.createdAt|date("F j, Y") }}</span> <br/>
                {{ order.createdAt|date('g:ia') }}
            </div>
            <div style="width: 50%; float: left; position: relative; min-height: 1px; padding-left: 10px; padding-right: 10px; box-sizing: border-box; display: block;">
                <span style="font-weight: bold;">{{ 'pos.order_id'|trans({}, 'labels') }}</span> <br/>
                {{ order.id }}
            </div>
        </div>

        <div style="content: ''; display: inline-block; clear: both;"></div>

        <hr style="margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #ddd; box-sizing: content-box; height: 0; display: block; -webkit-margin-before: 0.5em; -webkit-margin-after: 0.5em; -webkit-margin-start: auto; -webkit-margin-end: auto;"/>

        <div style="display: block;">
            {% if order.customer %}
                {{ order.customer.getFullname }}<br/>
                {{ order.customer.email }}<br/><br/>
            {% endif %}
        </div>

        <div style="display: block; margin-top: 20px;">
            <table style="margin-bottom: 0; border: 1px solid #ddd; width: 100%; max-width: 100%; display: table; background-color: transparent; border-collapse: collapse; border-spacing: 0; box-sizing: border-box;">
                <thead style="display: table-header-group; vertical-align: middle; border-top-color: inherit; border-right-color: inherit; border-bottom-color: inherit; border-left-color: inherit;">
                <tr style="transition: background-color ease-in-out 0.15s; background-color: #f5f5f5 !important; display: table-row; vertical-align: inherit; border-top-color: inherit; border-right-color: inherit; border-bottom-color: inherit; border-left-color: inherit;">
                    <th style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; transition: background-color ease-in-out 0.15s; font-weight: bold; text-align: left; font-size: 13px;">{{ 'product.name'|trans({}, 'labels') }}</th>
                    <th style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; transition: background-color ease-in-out 0.15s; font-weight: bold; text-align: center; font-size: 13px;">{{ 'product.qty'|trans({}, 'labels')|capitalize }}</th>
                    <th style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; transition: background-color ease-in-out 0.15s; font-weight: bold; text-align: center; font-size: 13px;">{{ 'product.weight'|trans({}, 'labels')|capitalize }}</th>
                    <th style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; transition: background-color ease-in-out 0.15s; font-weight: bold; text-align: right; font-size: 13px;">{{ 'product.price'|trans({}, 'labels') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for product in order.products %}
                    {% set count = product.qty ? product.qty : product.weight %}
                    <tr style="transition: background-color ease-in-out 0.15s; display: table-row; vertical-align: inherit; border-top-color: inherit; border-right-color: inherit; border-bottom-color: inherit; border-left-color: inherit; text-align: center;">
                        <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: left; border-collapse: collapse; border-spacing: 0;">
                            <span style="font-weight: bold;">
                                {{ product.product.name }}
                            </span>
                        </td>
                        <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: center; border-collapse: collapse; border-spacing: 0;">
                            {{ product.qty ? count }}
                        </td>
                        <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: center; border-collapse: collapse; border-spacing: 0;">
                            {{ product.weight ? count }}
                        </td>
                        <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: right; border-collapse: collapse; border-spacing: 0;">
                            {{ app.user.building.currency|currencyFormat }}{{ (count * product.price)|number_format(2, '.', ',') }}
                        </td>
                    </tr>
                {% endfor %}
                <tr style="transition: background-color ease-in-out 0.15s; display: table-row; vertical-align: inherit; border-top-color: inherit; border-right-color: inherit; border-bottom-color: inherit; border-left-color: inherit; text-align: center;">
                    <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: right; border-collapse: collapse; border-spacing: 0;" colspan="4">
                        <span style="font-weight: bold;">{{ 'invoice.amount_paid'|trans({}, 'labels') }}: {{ app.user.building.currency|currencyFormat }}{{ order.total|number_format(2, '.', ',') }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<link href="{{ asset('css/pages/widgets/market.css') }}" rel="stylesheet" type="text/css">
</body>
</html>