{% extends 'base.html.twig' %}

{% block body %}
    <div class="well block">
        <div class="tabbable">
            <ul class="nav nav-pills">
                <li {{ app.request.get('period') == 'today' ? 'class="active"' }}>
                    <a href="{{ path('pos_orders', {'period': 'today'}) }}">{{ 'label.today'|trans({}, 'labels') }}</a>
                </li>
                <li {{ app.request.get('period') == 'yesterday' ? 'class="active"' }}>
                    <a href="{{ path('pos_orders', {'period': 'yesterday'}) }}">{{ 'label.yesterday'|trans({}, 'labels') }}</a>
                </li>
                <li {{ app.request.get('period') == 'week' ? 'class="active"' }}>
                    <a href="{{ path('pos_orders', {'period': 'week'}) }}">{{ 'label.this_week'|trans({}, 'labels') }}</a>
                </li>
                <li {{ app.request.get('period') == 'month' ? 'class="active"' }}>
                    <a href="{{ path('pos_orders', {'period': 'month'}) }}">{{ 'label.this_month'|trans({}, 'labels') }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-head">
            <h6><i class="icon-coins"></i> {{ 'pos.summary'|trans({}, 'labels') }}</h6>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <span class="text-semibold">{{ 'pos.orders'|trans({}, 'labels') }}:</span><br/>
                {{ summary.totalCount }}
            </div>
            <div class="col-md-6">
                <span class="text-semibold">
                    {{ 'pos.total'|trans({}, 'labels') }}:</span><br/>
                {{ app.user.client.currencyFormat|raw }}{{ summary.totalSum|number_format(2, '.', ',') }}
            </div>
        </div>
    </div>

    <div class="panel">
        <table class="table">
            <thead>
            <tr class="heading-style">
                <th>{{ 'pos.counter'|trans({}, 'labels') }}</th>
                <th>{{ 'pos.total'|trans({}, 'labels') }}</th>
                <th>{{ 'pos.order_date'|trans({}, 'labels') }}</th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}

            {% for key, order in orders %}
                <tr>
                    <td>{{ key + 1 }}</td>
                    <td>{{ app.user.client.currencyFormat|raw }}{{ order.total }}</td>
                    <td>{{ order.createdAt|date(app.user.getTwigFormatDate() ~ ' H:i:s') }}</td>
                </tr>

                {% set total = total + order.total %}
            {% endfor %}
            <tr>
                <td class="text-semibold">{{ orders|length }}</td>
                <td class="text-semibold">{{ app.user.client.currencyFormat|raw }}{{ total|number_format(2, '.', ',') }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="navigation text-right">
            {{ knp_pagination_render(orders, 'parts/pagination.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <link href="{{ asset('css/pages/widgets/market.css') }}?v=1" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/jquery.bootstrap-touchspin.min.css') }}">
    <script type="text/javascript" src="{{ asset('js/plugins/forms/inputs/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pages/member/product/pos.js') }}?v=10"></script>
{% endblock %}