{% block _form_collections_row %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    <div class="product_item">
        {% set index = form.product.vars.value %}
        {% set product = index ? form.product.vars.choices[index].data %}
        <div class="form-group product-info">
            {{ form_widget(form.product, {'attr': {'data-name': (product ? product.name : ''), 'data-price': (product ? product.price : '') }}) }}
            <div class="col-md-4">
                <p class="product-name">{{ product ? product.name }}</p>
            </div>
            <div class="col-md-4">
                {% if product %}
                    {% if product.isPayByItem %}
                        {{ form_widget(form.qty, {'attr': {'class': 'product-qty'}}) }}
                    {% else %}
                        {{ form_widget(form.weight, {'attr': {'class': 'form-control product-weight'}}) }}
                    {% endif %}
                {% else %}
                    {{ form_widget(form.qty) }}
                    {{ form_widget(form.weight) }}
                {% endif %}
            </div>
            <div class="col-md-4 text-right">
                <a class="delete-product" href="#">{{ 'table.delete'|trans({}, 'labels') }}</a>
            </div>
        </div>
    </div>
{% endblock %}