{% extends 'emails/base.html.twig' %}

{% block body %}
    <h4>{{ status }} address change</h4>
    <p>{{ status }}: {{ member }}</p>
    <p>Email: {{ member.email }}</p>

    {% set types = {1 : 'Delivery', 2 : 'Billing', 3 : 'Billing & Delivery'} %}

    {% if addresses.before | length > 0 %}
        <p>Before:</p>
        {% for address in addresses.before %}
            <p>{{ types[address.type] }}: <br/>{{ address|address_format|raw }}</p>
        {% endfor %}
    {% endif %}

    {% if addresses.after | length > 0 %}
        <p>After:</p>
        {% for address in addresses.after %}
            <p>{{ types[address.type] }}: <br/>{{ address|address_format|raw }}</p>
        {% endfor %}
    {% endif %}

    <p>This is a link to membership panel: <a href="{{ member|profile_link }}">Your profile</a></p>
{% endblock %}