{% extends 'emails/base.html.twig' %}

{% block body %}
    <h4>{{ subject }}</h4>

    {% if customer.id %}
        <p>Name: {{ customer.fullname }}</p>
    {% endif %}
    <p>Email: {{ customer.email }}</p>

    {% if message %}
        <p>Message: {{ message }}</p>
    {% endif %}

    {% if customer.id %}
        <p>This is a link to membership panel: <a href="{{ customer|profile_link }}">Profile</a></p>
    {% endif %}
{% endblock %}