{% extends 'emails/base.html.twig' %}

{% block body %}
    <h4>Member left a review</h4>

    <p>Name: {{ member.fullname }}</p>
    <p>Email: {{ member.email }}</p>
    <p>Profile link: {{ member|profile_link }}</p>
    <p>Shares: </p>

    <table>
       <tbody>
       {% for key, share in shares %}
           <tr>
               <td>{{ share.name }}</td>
               <td>-</td>
               <td>{{ share.isSatisfied }}</td>
           </tr>
       {% endfor %}
       </tbody>
    </table>

    <p>Message:</p>
    <p>{{ text }}</p>
{% endblock %}
