{% extends "front-layout.html.twig" %}

{% block body %}
    {% if not form.vars.valid and form_errors(form) %}
        <div class="alert alert-danger center-block" style="width: 300px; margin-top:40px;word-break: break-word;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="login-form">
        {{ form_start(form, {'method': 'post'}) }}
            <div class="panel">
                <div class="panel-body">
                    <div class="text-center">
                        <h5 class="content-group">{{ 'register.create_account'|trans({}, 'messages') }}</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback">
                                {{ form_widget(form.locale) }}
                                {% if form.locale.vars.errors|length %}
                                    <label class="validation-error-label" for="{{ form.locale.vars.id }}">
                                        {{ form.locale.vars.errors[0].message }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback has-feedback-right">
                        {{ form_widget(form.username) }}
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                        {% if form.username.vars.errors|length %}
                            <label class="validation-error-label" for="{{ form.username.vars.id }}">
                                {{ form.username.vars.errors[0].message }}
                            </label>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback">
                                {{ form_widget(form.email) }}
                                <div class="form-control-feedback">
                                    <i class="icon-mention text-muted"></i>
                                </div>
                                {% if form.email.vars.errors|length %}
                                    <label class="validation-error-label" for="{{ form.email.vars.id }}">
                                        {{ form.email.vars.errors[0].message }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback">
                                {{ form_widget(form.building.name) }}
                                <div class="form-control-feedback">
                                    <i class="icon-user-check text-muted"></i>
                                </div>
                                {% if form.building.name.vars.errors|length %}
                                    <label class="validation-error-label" for="{{ form.building.name.vars.id }}">
                                        {{ form.building.name.vars.errors[0].message }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback">
                                {{ form_widget(form.plainPassword.first) }}
                                <div class="form-control-feedback">
                                    <i class="icon-user-lock text-muted"></i>
                                </div>
                                {% if form.plainPassword.first.vars.errors|length %}
                                    <label class="validation-error-label" for="{{ form.plainPassword.first.vars.id }}">
                                        {{ form.plainPassword.first.vars.errors[0].message }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback">
                                {{ form_widget(form.plainPassword.second) }}
                                <div class="form-control-feedback">
                                    <i class="icon-user-lock text-muted"></i>
                                </div>
                                {% if form.plainPassword.first.vars.errors|length %}
                                    <label class="validation-error-label" for="{{ form.plainPassword.second.vars.id }}">
                                        {{ form.plainPassword.first.vars.errors[0].message }}
                                    </label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center {{ form.recaptcha.vars.errors|length ? 'has-error' }}" id="recaptcha-wrapper">
                            {% form_theme form '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
                            {{ form_widget(form.recaptcha) }}
                            {% if form.recaptcha.vars.errors|length %}
                                <label class="validation-error-label">
                                    {{ form.recaptcha.vars.errors[0].message }}
                                </label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="help-block text-center content-group"> {{ 'register.terms'|trans({}, 'messages') }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <button type="submit" name="_submit" id="_submit" class="btn-website btn-secondary content-group">
                                    {{ 'register.create_account'|trans({}, 'messages') }}
                                </button>
                                <div class="content-divider text-muted form-group">
                                    <span>{{ 'register.have_account'|trans({}, 'messages') }}</span>
                                </div>
                                <a href="{{ path('app_login') }}" class="btn-website btn-main content-group">
                                    {{ 'login.login'|trans({}, 'messages') }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock body %}

{% block scripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">

    <script>
        $('select[data-element="locale"]').on('change', function () {
            window.location = $(this).find("option:selected").data('switch-path');
        });
    </script>
{% endblock %}

