<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="col-xs-12" style="border: 1px solid black;background-color: white;">
    {% set client = invoice.member.client %}
    {% set currency = client.currencyFormat %}

    <div style="display: block;">
        {% if invoice.isPaid %}
            <div style="background-color: #4CAF50; border-color: #4CAF50; color: #fff;margin-bottom: 20px;padding-top: 10px;padding-bottom: 10px;">
                <h2 style="font-weight: bold; text-align: center;">{{ 'label.completed'|trans({}, 'labels')|upper }}</h2>
            </div>
        {% else %}
            <div style="background-color: #FF9800; border-color: #FF9800; color: #fff;margin-bottom: 20px;padding-top: 10px;padding-bottom: 10px;">
                <h2 style="font-weight: bold; text-align: center;">{{ 'label.pending'|trans({}, 'labels')|upper }}</h2>
            </div>
        {% endif %}
    </div>

    <div style="padding: 0 40px 40px 40px;">
        <div style="display: block; box-sizing: border-box; clear: both;">
            <div style="width: 50%; float: left; position: relative; min-height: 1px; padding-left: 10px; padding-right: 10px; box-sizing: border-box; display: block;">
                <span style="font-weight: bold;">{{ invoice.createdAt|date("F j, Y") }}</span> <br/>
                {{ invoice.createdAt|date('g:ia') }}
            </div>
            <div style="width: 50%; float: left; position: relative; min-height: 1px; padding-left: 10px; padding-right: 10px; box-sizing: border-box; display: block;">
                <span style="font-weight: bold;">{{ 'invoice.transaction'|trans({}, 'labels') }} ID</span> <br/>
                {% if invoice.refnum %}
                    {{ invoice.refnum }}
                {% else %}
                    -
                {% endif %}
            </div>
        </div>

        <div style="content: ''; display: table; clear: both;"></div>

        <hr style="margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #ddd; box-sizing: content-box; height: 0; display: block; -webkit-margin-before: 0.5em; -webkit-margin-after: 0.5em; -webkit-margin-start: auto; -webkit-margin-end: auto;"/>

        <div style="display: block;">
            <h4 style="font-weight: bold; font-size: 19px; margin-top: 10px; margin-bottom: 10px;">{{ 'invoice.title'|trans({}, 'labels') }}</h4>
            {% if client.textEditor %}
                {{ client.textEditor.marketDescription|raw }}

                <hr style="margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #ddd; box-sizing: content-box; height: 0; display: block; -webkit-margin-before: 0.5em; -webkit-margin-after: 0.5em; -webkit-margin-start: auto; -webkit-margin-end: auto;"/>
            {% endif %}

            {% if invoice.location %}
                {% set locationType = invoice.location.isDelivery ? 'delivery' : 'pickup' %}
                <table style="margin-bottom: 0; width: 100%; max-width: 100%; display: table; background-color: transparent; border-collapse: collapse; border-spacing: 0; box-sizing: border-box;">
                    <thead style="display: table-header-group; vertical-align: middle;">
                    <tr style="display: table-row; vertical-align: inherit;">
                        <th style="vertical-align: middle; padding: 10px; line-height: 1.5384616; font-weight: bold; text-align: left; font-size: 13px;">{{ 'customer.location.location'|trans({}, 'labels') }}</th>
                        <th style="vertical-align: middle; padding: 10px; line-height: 1.5384616; font-weight: bold; text-align: left; font-size: 13px;">{{ ('membership.renew.location.' ~ locationType ~ '_day')|trans({}, 'labels') }}</th>
                        <th style="vertical-align: middle; padding: 10px; line-height: 1.5384616; font-weight: bold; text-align: left; font-size: 13px;">{{ ('membership.renew.location.' ~ locationType ~ '_date')|trans({}, 'labels') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="display: table-row; vertical-align: inherit;">
                        <td style="vertical-align: middle; padding: 0 10px 10px 10px; line-height: 1.5384616; display: table-cell;
                        border-collapse: collapse; border-spacing: 0;">
                            {{ invoice.location.isDelivery
                            ? 'membership.renew.location.home_delivery'|trans({}, 'labels')|upper
                            : invoice.location.name }}</td>
                        <td style="vertical-align: middle; padding: 0 10px 10px 10px; line-height: 1.5384616; display: table-cell; border-collapse: collapse; border-spacing: 0;">{{ invoice.orderDate ? (invoice.orderDate|date('l')|lower)|trans({}, 'choices') }}</td>
                        <td style="vertical-align: middle; padding: 0 10px 10px 10px; line-height: 1.5384616; display: table-cell; border-collapse: collapse; border-spacing: 0;">{{ invoice.orderDate ? invoice.orderDate|date(client.getTwigFormatDate()) }}</td>
                    </tr>
                    </tbody>
                </table>

                <hr style="margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #ddd; box-sizing: content-box; height: 0; display: block; -webkit-margin-before: 0.5em; -webkit-margin-after: 0.5em; -webkit-margin-start: auto; -webkit-margin-end: auto;"/>
            {% endif %}

            {% if invoice.location and invoice.location.isDelivery and invoice.member.getAddressByType('DELIVERY')
                and invoice.member.getAddressByType('DELIVERY').getTypeName() == 'Delivery' %}
                <span style="font-weight:bold">{{ 'membership.renew.addresses.delivery_address'|trans({}, 'labels') }}</span><br/>
                {{ invoice.member.getFullname }}<br/>
                {{ invoice.member.getAddressByType('Delivery')|address_format|raw }}
                <p></p>
            {% endif %}

            {% set billingAddress = invoice.member.getAddressByType('Billing') %}

            <span style="font-weight:bold">
                {% if invoice.location and invoice.location.isDelivery and billingAddress.getTypeName() == 'Billing and Delivery' %}
                    {{ 'membership.renew.addresses.billing_and_delivery_address'|trans({}, 'labels') }}
                {% else %}
                    {{ 'membership.renew.addresses.billing_address'|trans({}, 'labels') }}
                {% endif %}
            </span>
            <br/>
            {{ invoice.member.getFullname }}
            <br/>
            {{ invoice.member.getAddressByType('Billing')|address_format|raw }}<br/>
        </div>

        <div style="display: block; margin-top: 20px;">
            <table style="margin-bottom: 0; border: 1px solid #ddd; width: 100%; max-width: 100%; display: table; background-color: transparent; border-collapse: collapse; border-spacing: 0; box-sizing: border-box;">
                <thead style="display: table-header-group; vertical-align: middle; border-top-color: inherit; border-right-color: inherit; border-bottom-color: inherit; border-left-color: inherit;">
                    <tr style="transition: background-color ease-in-out 0.15s; background-color: #f5f5f5 !important; display: table-row; vertical-align: inherit; border-top-color: inherit; border-right-color: inherit; border-bottom-color: inherit; border-left-color: inherit;">
                        <th style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; transition: background-color ease-in-out 0.15s; font-weight: bold; text-align: left; font-size: 13px;">{{ 'membership.customize.product_name'|trans({}, 'labels') }}</th>
                        <th style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; transition: background-color ease-in-out 0.15s; font-weight: bold; text-align: center; font-size: 13px;">{{ 'membership.renew.qty'|trans({}, 'labels')|capitalize }}</th>
                        <th style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; transition: background-color ease-in-out 0.15s; font-weight: bold; text-align: center; font-size: 13px;">{{ 'product.weight'|trans({}, 'labels')|capitalize }}</th>
                        <th style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; transition: background-color ease-in-out 0.15s; font-weight: bold; text-align: right; font-size: 13px;">{{ 'membership.customize.price'|trans({}, 'labels') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in invoice.items %}
                    <tr style="transition: background-color ease-in-out 0.15s; display: table-row; vertical-align: inherit; border-top-color: inherit; border-right-color: inherit; border-bottom-color: inherit; border-left-color: inherit; text-align: center;">
                        <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: left; border-collapse: collapse; border-spacing: 0;">
                            {{ item.share ? item.share.name : item.product.name }}
                        </td>
                        <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: center; border-collapse: collapse; border-spacing: 0;">
                            {{ item.qty }}
                        </td>
                        <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: center; border-collapse: collapse; border-spacing: 0;">
                            {{ item.weight ? item.weight ~ ' ' ~ client.weightName }}
                        </td>
                        <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: right; border-collapse: collapse; border-spacing: 0;">
                            {{ currency }}{{ item.amount|number_format(2, '.', ',') }}
                        </td>
                    </tr>
                {% endfor %}
                <tr style="transition: background-color ease-in-out 0.15s; display: table-row; vertical-align: inherit; border-top-color: inherit; border-right-color: inherit; border-bottom-color: inherit; border-left-color: inherit; text-align: center;">
                    <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: right; border-collapse: collapse; border-spacing: 0;" colspan="4">
                        <span style="font-weight: bold;">
                            {{ 'invoice.amount_paid'|trans({}, 'labels') }}:
                            {{ currency }}{{ invoice.paid ? invoice.amount|number_format(2, '.', ',') : '0.00' }}
                        </span>
                    </td>
                </tr>
                <tr style="transition: background-color ease-in-out 0.15s; display: table-row; vertical-align: inherit; border-top-color: inherit; border-right-color: inherit; border-bottom-color: inherit; border-left-color: inherit; text-align: center;">
                    <td style="vertical-align: middle; border: 1px solid #ddd; padding: 12px 20px; line-height: 1.5384616; border-top: 1px solid #ddd; transition: background-color ease-in-out 0.15s; display: table-cell; text-align: right; border-collapse: collapse; border-spacing: 0;" colspan="4">
                        <span style="font-weight: bold;">
                            {{ 'invoice.total_owed'|trans({}, 'labels') }}:
                            {{ currency }}{{ invoice.paid ? '0.00' : invoice.amount|number_format(2, '.', ',') }}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>