{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role' : 'form'} }) }}
        <div class="panel panel-default">
            <div class="panel-head">
                <h6><i class="icon-user-tie"></i> {{ 'customer.orders.for_members'|trans({}, 'labels') }} </h6>
            </div>
            <div class="panel-body">
                <div class="form-group {% if form.share.vars.errors | length > 0 %} has-error {% endif %}">
                    {{ form_label(form.share) }}
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        {% if not form.share.vars.valid %}
                            {{ form_widget(form.share, {'attr': {
                                'data-placement': 'top',
                                'title': form.share.vars.errors[0].message,
                                'class': 'select tip tip-open'}
                            }) }}
                        {% else %}
                            {{ form_widget(form.share)}}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {% if form.startDate.vars.errors | length > 0 %} has-error {% endif %}">
                    {{ form_label(form.startDate) }}
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        {% if not form.startDate.vars.valid %}
                            {{ form_widget(form.startDate, {'attr': {
                                'data-placement': 'top',
                                'title': form.startDate.vars.errors[0].message,
                                'class': 'datepicker form-control tip tip-open'}
                            }) }}
                        {% else %}
                            {{ form_widget(form.startDate)}}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {% if form.endDate.vars.errors | length > 0 %} has-error {% endif %}">
                    {{ form_label(form.endDate) }}
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        {% if not form.endDate.vars.valid %}
                            {{ form_widget(form.endDate, {'attr': {
                                'data-placement': 'top',
                                'title': form.endDate.vars.errors[0].message,
                                'class': 'datepicker form-control tip tip-open'}
                            }) }}
                        {% else %}
                            {{ form_widget(form.endDate)}}
                        {% endif %}
                    </div>
                </div>
                <div class="form-actions text-right">
                    <button type="submit" class="btn btn-action">{{ 'button.add'|trans({}, 'labels') }}</button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}

    {% if ordersForms | length > 0 %}
        <div class="panel panel-default">
            <div class="table-vertical">
                <table class="table">
                    <thead>
                    <tr class="heading-style">
                        <th>{{ 'customer.share.share'|trans({}, 'labels') }}</th>
                        <th>{{ 'customer.orders.start_date'|trans({}, 'labels') }}</th>
                        <th>{{ 'customer.orders.end_date'|trans({}, 'labels') }}</th>
                        <th>{{ 'table.add_items'|trans({}, 'labels') }}</th>
                        <th>{{ 'table.save'|trans({}, 'labels') }}</th>
                        <th>{{ 'table.delete'|trans({}, 'labels') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, form in ordersForms %}
                        <tr class="parent{% if key is not divisible by (2) %} row-style {% endif %}">
                            {{ form_start(form, { 'attr': {
                                'action': path('member_order_update', {orderId: form.vars.value.id, role: 'member'}), 'class': 'ajaxUpdate'}
                            }) }}
                                <td class="form-group">{{ form_widget(form.share) }}</td>
                                <td class="form-group">{{ form_widget(form.startDate, {'id': 'shareStartDate' ~ form.vars.value.id}) }}</td>
                                <td class="form-group">{{ form_widget(form.endDate, {'id': 'shareEndDate' ~ form.vars.value.id}) }}</td>
                                <td class="form-group">
                                    <button type="button"
                                            data-toggle="collapse"
                                            href="#products-{{ form.vars.value.id }}"
                                            data-shareId="{{ form.vars.value.id }}"
                                            class="btn btn-action btn-icon btn-products">
                                        <i class="icon-plus2"></i>
                                    </button>
                                </td>
                                <td class="form-group">
                                    <span id="form-status">
                                        <button type="submit"
                                                class="btn btn-success btn-icon btn-save">
                                            <i class="icon-floppy-disk"></i>
                                        </button>
                                    </span>
                                </td>
                                <td class="form-group">
                                    <button type="button"
                                            data-path="{{ path('member_order_delete', {orderId : form.vars.value.id, role : 'member'}) }}"
                                            data-toggle="modal"
                                            href="#small_modal"
                                            class="btn btn-danger btn-icon btn-delete">
                                        <i class="icon-trash"></i>
                                    </button>
                                </td>
                            {{ form_end(form) }}
                        </tr>
                        <tr class="child">
                            <td colspan="6">
                                <div id="products-{{ form.vars.value.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <!-- Include add product form -->
                                        {% include 'customer/order/templates/order_product_form.html.twig' with {
                                            'productForm': productsForms[form.vars.value.id][0], role : 'member',
                                            'orderId': form.vars.value.id
                                        } %}

                                        <!-- Include update products table list -->
                                        {% include 'customer/order/templates/order_products_table.html.twig' with {
                                            'forms' : productsForms[form.vars.value.id]
                                        } %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {{ include ("modal/delete-modal.html.twig") }}
{% endblock body %}
