{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-head">
            <h6><i class="icon-earth"></i> Translation</h6>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
            <div class="form-group {{ form.translation.vars.errors|length ? 'has-error' }}">
                {{ form_label(form.translation) }}
                <div class="col-md-10 col-sm-9 col-xs-7">
                    {{ form_widget(form.translation)}}
                    {% if form.translation.vars.errors|length %}
                        <label id="{{ form.translation.vars.id }}-error" class="validation-error-label" for="{{ form.translation.vars.id }}">
                            {{ form.translation.vars.errors[0].message }}
                        </label>
                    {% endif %}
                </div>
            </div>

            <div class="form-actions text-right">
                <button type="submit" class="btn btn-icon btn-success" id="btn-submit">{{ 'button.create'|trans({}, 'labels') }}</button>
            </div>
            <div class="form-actions text-right" style="margin-top: 10px;">
                <a href="{{ path('master_translation_keys') }}" class="btn btn-icon btn-action" id="btn-submit">
                    Edit keys <i class="icon-arrow-right7"></i>
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="panel panel-default">
        <table class="table">
            <thead>
            <tr class="heading-style">
                <th>{{ 'translation.language'|trans({}, 'labels') }}</th>
                <th>{{ 'translation.domain'|trans({}, 'labels') }}</th>
                <th>Shared</th>
            </tr>
            </thead>
            <tbody>
            {% if languages|length %}
                {% for language, locale in languages %}
                    {% for domainKey, domain in domains %}
                        <tr>
                            <td>{{ domainKey == 0 ? language }}</td>
                            <td>
                                <a href="{{ path('master_translation_translate', {'locale': locale, 'domain': domain}) }}">
                                    {{ domain }}
                                </a>
                            </td>
                            <td class="form-group">
                                {% if domain == 'labels' and locale != 'en' %}
                                    {% set isChecked = locale in sharedTranslations|keys and sharedTranslations[locale] == true %}
                                    <div class="checkbox checkbox-switchery table-switch">
                                        <input type="checkbox"
                                               class="switchery share_translation"
                                               data-path="{{ path('master_translation_share', {locale: locale, domain: domain}) }}"
                                               value="{{ isChecked ? 1 : 0 }}"
                                                {{ isChecked ? 'checked="checked"' }}>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.share_translation').on('change', function () {
            let $this = $(this);

            $.ajax({
                url: $this.data('path'),
                type: 'POST',
                data: {isShared: $this.prop('checked')},
                success: function (response) {},
                error: function (response) {}
            });
        });
    </script>
{% endblock %}