{% extends 'emails/base.html.twig' %}

{% block body %}
    <h4>{{ 'emails.hello'|trans({}, 'labels') }} {{ building }}</h4>
    <p>{{ 'resetting.email_link'|trans({}, 'messages') }}:
        <a href="{{ confirmationUrl }}">{{ 'resetting.reset_password'|trans({}, 'messages') }}</a>
    </p>
{% endblock %}

