{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default" xmlns:v-bind="http://www.w3.org/1999/xhtml">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-7">
                    <label for="search_text">{{ 'owner.search.search'|trans({}, 'labels') }}:</label>
                    <input type="text"
                           class="form-control text-uppercase"
                           data-path="{{ path('owner_search')}}"
                           data-list="content_list"
                           value="{{ app.request.get('searchText') }}"
                           id="search"
                           v-model="search"
                           placeholder="{{ 'owner.search.search_by_placeholder'|trans({}, 'labels') }}"
                           autocomplete="off">
                </div>
                <div class="col-sm-3 vertical-table-text">
                    <p class="vertical-text">{{ 'owner.search.records_found'|trans({}, 'labels') }}:
                        <span id="counter" data-counted="{{ owners.getTotalItemCount }}">${ counter }</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="datatable-ajax-source">
            <div class="table-responsive" id="content_list">
                {{ include ("owner/forms/table.html.twig") }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let vue = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                search: '',
                searchPath: '',
                counter: 0,
                listId: ''
            },
            watch: {
                search: function(val) {
                    let url = this.searchPath + '?search=' + val;

                    fetch(url, {
                        method: 'post'
                    }).then(function(response) {
                        return response.json();
                    }).then(function(result) {
                        document.getElementById(vue.listId).innerHTML = result.template;
                        vue.counter = result.counter;
                    }).catch(function (error) {});
                }
            },
            mounted: function () {
                let searchField = document.getElementById('search');
                this.searchPath = searchField.dataset.path;
                this.listId = searchField.dataset.list;
                this.counter = document.getElementById('counter').dataset.counted;
            }
        });
    </script>
{% endblock %}
