{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role' : 'form'} }) }}
        <div class="panel panel-default">
            <div class="panel-body">
                <div {% if form.family.vars.errors | length > 0 %} class="form-group has-error" {% else %} class="form-group" {% endif %}>
                    {{ form_label(form.family) }}
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        {{ form_widget(form.family) }}
                        {{ form_errors(form.family) }}
                    </div>
                </div>
                <div {% if form.name.vars.errors | length > 0 %} class="form-group has-error" {% else %} class="form-group" {% endif %}>
                    {{ form_label(form.name) }}
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div {% if form.subName.vars.errors | length > 0 %} class="form-group has-error" {% else %} class="form-group" {% endif %}>
                    {{ form_label(form.subName) }}
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        {{ form_widget(form.subName) }}
                        {{ form_errors(form.subName) }}
                    </div>
                </div>
                <div class="form-actions text-right">
                    <button type="submit" class="btn btn-action">{{ 'button.add'|trans({}, 'labels') }}</button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}

    {% if forms|length > 0 %}
        <div class="panel panel-default">
            <div>
                <table class="table">
                    <thead>
                    <tr class="heading-style">
                        <th>Family name</th>
                        <th>Plant name</th>
                        <th>Subname</th>
                        <th>{{ 'table.save'|trans({}, 'labels') }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for key, form in forms %}
                        <tr {% if key is not divisible by (2) %} class="row-style" {% endif %}>
                            {{ form_start(form, { 'attr': {'action': path('master_plants_update', { id : form.vars.value.id }), 'role' : 'form', 'class' : 'ajaxUpdate'} }) }}
                                <td class="form-group">{{ form_widget(form.family) }}</td>
                                <td class="form-group">{{ form_widget(form.name) }}</td>
                                <td class="form-group">{{ form_widget(form.subName) }}</td>
                                <td class="form-group">
                                    <span id="form-status"><button type="submit" class="btn btn-success btn-icon btn-save"><i class="icon-floppy-disk"></i></button></span>
                                </td>
                                {{ form_widget(form.id) }}
                                {{ form_widget(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock body %}