<div class="setup-instructions">
    <p>{{ 'setup_instructions.setup'|trans({}, 'messages') }}:</p>
    <ul>
        <li>
            {{ 'setup_instructions.plants'|trans({
                '%link_start%': '<a href="' ~ path('plant_index') ~ '">', '%link_end%': '</a>'
            }, 'messages')|raw }}
        </li>
        <li>
            {{ 'setup_instructions.gardens'|trans({
                '%link_start%': '<a href="' ~ path('garden_index') ~ '">', '%link_end%': '</a>'
            }, 'messages')|raw }}
        </li>
        <li>
            {{ 'setup_instructions.crops'|trans({
                '%link_start%': '<a href="' ~ path('crops_garden') ~ '">', '%link_end%': '</a>'
            }, 'messages')|raw }}
        </li>
        <li>{{ 'setup_instructions.video'|trans({
                '%link_start%': '<a href="https://www.youtube.com/watch?v=vf0UUkTho9E" target="_blank">', '%link_end%': '</a>'
            }, 'messages')|raw }}
        </li>
    </ul>
</div>